Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

.azuredevops/azure-pipeline-container-deploy.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildFrontend
      displayName: Build Frontend Image
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and Push Frontend Image
        inputs:
  ...

.azuredevops/azure-pipeline-infrastructure.yml:
  stages:
  - stage: Infrastructure
    displayName: Deploy Infrastructure
    jobs:
    - job: DeployInfrastructure
      displayName: Deploy Azure Infrastructure
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: AzureCLI@2
        displayName: Deploy Infrastructure with Bicep
        inputs:
  ...

Add agent_description for Analysis participants so Coordinator can route by capability
  src/processor/src/steps/analysis/orchestration/analysis_orchestrator.py
  src/processor/src/steps/analysis/orchestration/platform_registry.json
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fix loop detection: key on agent name only, not (agent, instruction)
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(workflow): reject incoherent ResultGenerator output across all steps
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/steps/analysis/workflow/analysis_executor.py
  src/processor/src/steps/convert/workflow/yaml_convert_executor.py
  src/processor/src/steps/design/workflow/design_executor.py
  src/processor/src/steps/documentation/workflow/documentation_executor.py
  src/processor/src/tests/unit/steps/analysis/test_analysis_executor.py
  src/processor/src/tests/unit/steps/convert/test_yaml_convert_executor.py
  src/processor/src/tests/unit/steps/design/test_design_executor.py
  src/processor/src/tests/unit/steps/documentation/test_documentation_executor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(groupchat): resolve agent identity via author_name for af 1.3.0
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_termination.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(groupchat): route WorkflowEvent payloads + enforce framework max_rounds for af 1.3.0
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_termination.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(groupchat): detect participant loops via executor_completed events
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_termination.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Revert "fix(groupchat): detect participant loops via executor_completed events"
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_termination.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

chore(logging): suppress harmless empty-message-cache warning and drop dead code
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/utils/logging_utils.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Refactor code structure for improved readability and maintainability
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

infra: add Storage Blob Data Contributor role for backend app identity
  infra/avm/main.json
  infra/avm/modules/identity/role-assignments.bicep
  infra/bicep/main.json
  infra/bicep/modules/identity/role-assignments.bicep
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

infra: add processor app RBAC roles for Storage and Cosmos DB
  infra/avm/main.bicep
  infra/avm/main.json
  infra/avm/modules/identity/role-assignments.bicep
  infra/bicep/main.bicep
  infra/bicep/main.json
  infra/bicep/modules/identity/role-assignments.bicep
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

infra: add Storage Queue Data Contributor role for backend and processor
  infra/avm/main.json
  infra/avm/modules/identity/role-assignments.bicep
  infra/bicep/main.json
  infra/bicep/modules/identity/role-assignments.bicep
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Add STORAGE_QUEUE_ACCOUNT env var for processor container app
  azure.yaml
  infra/avm/main.bicep
  infra/avm/main.json
  infra/bicep/main.bicep
  infra/bicep/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Add Cognitive Services OpenAI User role for processor identity
  infra/avm/main.json
  infra/avm/modules/identity/role-assignments.bicep
  infra/bicep/main.json
  infra/bicep/modules/identity/role-assignments.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Revert azure.yaml metadata commenting
  azure.yaml
Due: none

Add Foundry User and Cognitive Services User RBAC roles for processor
  infra/avm/modules/identity/role-assignments.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

refactor: update Docker workflow to use vars for ACR name and simplify job inputs
  .github/workflows/deploy-orchestrator.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-docker-build.yml
Due: none

Sync toolkit modules, add custom bicep, VNet/Bastion wiring, README alignment
  README.md
  infra/avm/main.bicep
  infra/avm/modules/ai/ai-foundry-project.bicep
  infra/avm/modules/ai/ai-search.bicep
  infra/avm/modules/ai/existing-project-setup.bicep
  infra/avm/modules/compute/app-service.bicep
  infra/avm/modules/compute/container-registry.bicep
  infra/avm/modules/compute/kubernetes.bicep
  infra/avm/modules/networking/virtual-network.bicep
  infra/bicep/main.bicep
  infra/bicep/modules/ai/ai-foundry-project.bicep
  infra/bicep/modules/ai/ai-search-identity.bicep
  infra/bicep/modules/ai/ai-search.bicep
  infra/bicep/modules/ai/existing-project-setup.bicep
  infra/bicep/modules/compute/app-service.bicep
  infra/bicep/modules/compute/kubernetes.bicep
  infra/bicep/modules/identity/role-assignments.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Fix resource group Type tag to reflect WAF vs Non-WAF based on enablePrivateNetworking
  infra/avm/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

ci: replace deprecated --exclude-mail with --exclude ^mailto: in lychee action
  .github/workflows/broken-links-checker.yml
Due: none

fix: reconstruct conversation from agent_responses on early termination
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: use correct Message attributes in _validate_sign_offs (text/author_name)
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_termination.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: add loop detection for same-agent back-to-back invocations in 1.3.0
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: address Copilot review - empty name handling and type annotation
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/tests/unit/libs/agent_framework/test_azure_openai_response_retry_utils.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

docs: add Deployment Flavor row and AVM intermediate note to deployment guide
  docs/DeploymentGuide.md
Due: none

fix: use selection_func to keep Coordinator visible in streaming loop
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

diag: add Coordinator response logging for loop detection debugging
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: set ManagerSelectionResponse extra=forbid for Chat API structured outputs
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: prevent infinite loop when sign-off validation rejects finish
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: relax sign-off validation to only block on explicit PENDING/FAIL
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_termination.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: make sign-off validation log-only to prevent termination deadlock
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_termination.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Sync toolkit modules and align DEPLOYMENT_FLAVOR env var with agentic PR
  infra/avm/modules/compute/container-registry.bicep
  infra/avm/modules/data/cosmos-db-mongo.bicep
  infra/bicep/modules/compute/container-registry.bicep
  infra/main.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

docs: add Entra ID Bastion VM connection instructions to deployment guide
  docs/DeploymentGuide.md
Due: none

created new uv lock file
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

use role ids instead of role names
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

conflict resolve
  src/backend-api/uv.lock
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(infra): enforce private endpoint deployment ordering
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra
