Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

.azuredevops/azure-pipeline-container-deploy.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildFrontend
      displayName: Build Frontend Image
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and Push Frontend Image
        inputs:
  ...

.azuredevops/azure-pipeline-infrastructure.yml:
  stages:
  - stage: Infrastructure
    displayName: Deploy Infrastructure
    jobs:
    - job: DeployInfrastructure
      displayName: Deploy Azure Infrastructure
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: AzureCLI@2
        displayName: Deploy Infrastructure with Bicep
        inputs:
  ...

refactor: enhance AzureOpenAIResponseClientWithRetry for legacy parameter support and backward compatibility
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Potential fix for pull request finding
  .github/workflows/job-send-notification.yml
Due: none

fix(infra): remove legacy OMSGallery/Security solution (ADO #43311)
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix(infra): apply DCR review feedback from PR #244 (ADO #43311)
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix(infra): expand DCR counterSpecifiers to match MACAE pattern (ADO #43311)
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix(infra): align DCR gates + drop ADO references from comments
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
  infra/modules/storageAccount.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

chnages event name
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

token usage
  infra/dashboards/deploy-workbooks.ps1
  infra/dashboards/token-usage-queries.kql
  infra/dashboards/workbook-eks-content.json
  infra/dashboards/workbook-gke-content.json
  infra/main.bicep
  infra/main.parameters.json
  infra/main_custom.bicep
  infra/modules/tokenUsageWorkbook.bicep
  src/frontend/Dockerfile
  src/processor/Dockerfile
  src/processor/pyproject.toml
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/main.py
  src/processor/src/main_service.py
  src/processor/src/services/queue_service.py
  src/processor/src/steps/analysis/models/step_param.py
  src/processor/src/steps/analysis/orchestration/analysis_orchestrator.py
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/steps/design/orchestration/design_orchestrator.py
  src/processor/src/steps/documentation/orchestration/documentation_orchestrator.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/utils/agent_telemetry.py
  src/processor/src/utils/event_utils.py
  src/processor/src/utils/token_usage_tracker.py
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

optimize the code
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/utils/event_utils.py
  src/processor/src/utils/token_usage_tracker.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: fixed copilot comments
  .github/workflows/job-deploy.yml
  .github/workflows/job-send-notification.yml
Due: none

copilot fixes
  src/frontend/src/components/batchHistoryPanel.tsx
  src/frontend/src/pages/batchView.tsx
  src/frontend/src/pages/modernizationPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

uv lock files updated
  src/backend-api/uv.lock
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

ci: align workflow push/pull_request triggers with shared structure
  .github/workflows/ci.yml
  .github/workflows/deploy-v2.yml
  .github/workflows/pylint.yml
  .github/workflows/test.yml
  .github/workflows/validate-bicep-params.yml
Due: none

revert pylint
  .github/workflows/pylint.yml
Due: none

chore: regenerate infra/main.json with Bicep CLI 0.43.8
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Notes added by 'git notes add'
  20d773ea013181ec9da547a3ec9fc804b56937ea
Due: none

commit
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

optimize the code
  src/backend-api/src/app/libs/logging/llm_token_telemetry.py
  src/processor/src/tests/test_llm_token_telemetry.py
  src/processor/src/utils/llm_token_telemetry.py
  src/processor/src/utils/token_usage_tracker.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: add azure-monitor-events-extension dependency and enable monitoring
  infra/main.bicep
  infra/main_custom.bicep
  src/frontend/Dockerfile
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

fix: wire TokenUsageTracker into orchestrator and processor pipeline
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/utils/agent_telemetry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: update llm_token_telemetry.py to latest cross-accelerator version and remove deployment/workbook changes
  infra/dashboards/deploy-workbooks.ps1
  infra/dashboards/token-usage-queries.kql
  infra/dashboards/workbook-eks-content.json
  infra/dashboards/workbook-gke-content.json
  infra/main.bicep
  infra/main.parameters.json
  infra/main_custom.bicep
  infra/modules/tokenUsageWorkbook.bicep
  src/backend-api/src/app/libs/logging/llm_token_telemetry.py
  src/frontend/Dockerfile
  src/processor/Dockerfile
  src/processor/src/tests/test_llm_token_telemetry.py
  src/processor/src/utils/llm_token_telemetry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

fix: update uv.lock to include azure-monitor-events-extension
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

code quality issue
  src/backend-api/src/tests/base/test_sk_logic_base.py
  src/frontend/src/components/batchHistoryPanel.tsx
  src/processor/src/tests/unit/libs/application/test_application_context_extras.py
  src/processor/src/tests/unit/services/test_queue_service_internals.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

chore: update werkzeug to 3.1.6 and add idna 3.15 to dependencies
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: check credential value instead of key presence
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: address review comments - type annotations, test cleanup, and code clarity
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_input_observer_middleware.py
  src/processor/src/tests/unit/libs/agent_framework/test_middlewares_extras.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: use contents= for Message construction in agent-framework 1.3.0
  src/processor/src/libs/agent_framework/middlewares.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_input_observer_middleware.py
  src/processor/src/tests/unit/libs/agent_framework/test_middlewares_extras.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: add setup_module to prevent test ordering issues with Message patch
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_input_observer_middleware.py
  src/processor/src/tests/unit/libs/agent_framework/test_middlewares_extras.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: assert contents instead of text in input observer test
  src/processor/src/tests/unit/libs/agent_framework/test_input_observer_middleware.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: set both text and contents on Message, restore copyright header
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/middlewares.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: remove unused modified_count variable (F841)
  src/processor/src/libs/agent_framework/middlewares.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: remove unused Agent import (F401)
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: handle agent-framework 1.3.0 Message contents across codebase
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/agent_framework/middlewares.py
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: remove unused WorkflowEvent import and restore 'invalid content' retry check
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: enhance rate limit detection for Azure OpenAI transient errors
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: update step names for Docker image builds in workflow
  .github/workflows/docker-build-and-push.yml
Due: none

evening changes
  src/processor/src/libs/agent_framework/agent_builder.py
  src/processor/src/libs/agent_framework/agent_info.py
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: enhance message handling and context management in orchestrators
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/base/orchestrator_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra
