Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

.azuredevops/azure-pipeline-container-deploy.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildFrontend
      displayName: Build Frontend Image
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and Push Frontend Image
        inputs:
  ...

.azuredevops/azure-pipeline-infrastructure.yml:
  stages:
  - stage: Infrastructure
    displayName: Deploy Infrastructure
    jobs:
    - job: DeployInfrastructure
      displayName: Deploy Azure Infrastructure
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: AzureCLI@2
        displayName: Deploy Infrastructure with Bicep
        inputs:
  ...

docs: Modified AI Foundry to Microsoft Foundry
  docs/images/readme/architecture.png
Due: none

poll status of kill process
  src/frontend/src/pages/processPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix the issue with devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Updated the python version
  .devcontainer/Dockerfile
Due: none

Fix phase message
  src/frontend/src/pages/processPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update TroubleshootingSteps.md file with latest errors
  docs/TroubleShootingSteps.md
  docs/images/AzureHomePage.png
  docs/images/resourcegroup1.png
Due: none

Update Troubleshoot doc
  docs/TroubleShootingSteps.md
Due: none

Update Troubleshoot document 1
  docs/TroubleShootingSteps.md
  docs/images/AzureHomePage.png
  docs/images/resourcegroup1.png
Due: none

added Tool Invocation Security Filter for Semantic Kernel
  src/processor/src/libs/base/KernelAgent.py
  src/processor/src/plugins/mcp_server/MCPBlobIOPlugin.py
  src/processor/src/utils/agent_builder.py
  src/processor/src/utils/tool_invocation_filter.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fixed the tag issue
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Call the variable outside the resource
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

docs: Add AI playbook section to README
  README.md
Due: none

Regenerated the main.json file
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

updated the pipeline deploy linux
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  infra/main.parameters.json
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

updated the quota check
  .github/workflows/job-deploy.yml
Due: none

Migrated GitHub Actions authentication from client secrets to OIDC
  .github/workflows/ci.yml
  .github/workflows/deploy-linux.yml
  .github/workflows/deploy-orchestrator.yml
  .github/workflows/deploy-windows.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/job-cleanup-deployment.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
  .github/workflows/job-docker-build.yml
  .github/workflows/job-send-notification.yml
  infra/main.parameters.json
  infra/main.waf.parameters.json
  scripts/checkquota.sh
Due: .azuredevops/azure-pipeline-infrastructure.yml

Added runner_os input (Deployment Environment) and Deleted deploy-windows.yml since it's no longer needed
  .github/workflows/deploy-linux.yml
  .github/workflows/deploy-v2.yml
Due: none

Reoslve Conflict
  .github/workflows/ci.yml
  .github/workflows/deploy-orchestrator.yml
  .github/workflows/deploy-v2.yml
  .github/workflows/deploy-windows.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/job-cleanup-deployment.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
  .github/workflows/job-docker-build.yml
  .github/workflows/job-send-notification.yml
  README.md
  docs/TroubleShootingSteps.md
  infra/main.parameters.json
  infra/main.waf.parameters.json
  scripts/checkquota.sh
Due: .azuredevops/azure-pipeline-infrastructure.yml

docs: temporary security validation marker 20260309_192700
  README.md
Due: none

Refactor code structure for improved readability and maintainability
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/requirements.txt
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update src/processor/pyproject.toml
  src/processor/pyproject.toml
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update src/backend-api/pyproject.toml
  src/backend-api/pyproject.toml
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: simplify call logging structure in GroupChatOrchestrator; enhance prompt coordinator with detailed RAI content policy
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/steps/analysis/orchestration/prompt_coordinator.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update dependencies to specific versions for consistency and stability
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/processor/pyproject.toml
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: resolve flake8 lint failures
  src/processor/src/libs/agent_framework/agent_framework_helper.py
  src/processor/src/main.py
  src/processor/src/main_service.py
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/tests/unit/steps/convert/test_conversion_report_quality_gates.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: remove extra blank line to pass flake8 E303
  src/processor/src/libs/base/orchestrator_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: streamline coordinator prompts, Evidence Pack protocol, output folder rename, and test reorganization
  src/processor/pyproject.toml
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/libs/mcp_server/blob_io_operation/mcp_blob_io_operation.py
  src/processor/src/sitecustomize.py
  src/processor/src/steps/analysis/agents/prompt_aks.txt
  src/processor/src/steps/analysis/agents/prompt_architect.txt
  src/processor/src/steps/analysis/agents/prompt_eks.txt
  src/processor/src/steps/analysis/agents/prompt_gke.txt
  src/processor/src/steps/analysis/agents/prompt_onprem_k8s.txt
  src/processor/src/steps/analysis/agents/prompt_openshift.txt
  src/processor/src/steps/analysis/agents/prompt_rancher.txt
  src/processor/src/steps/analysis/agents/prompt_tanzu.txt
  src/processor/src/steps/analysis/orchestration/prompt_coordinator.txt
  src/processor/src/steps/analysis/orchestration/prompt_task.txt
  src/processor/src/steps/convert/orchestration/prompt_coordinator.txt
  src/processor/src/steps/convert/workflow/yaml_convert_executor.py
  src/processor/src/steps/design/orchestration/prompt_coordinator.txt
  src/processor/src/steps/documentation/orchestration/prompt_coordinator.txt
  src/processor/src/tests/unit/libs/application/test_AppConfiguration.py
  src/processor/src/tests/unit/libs/base/test_ApplicationBase.py
  src/processor/src/tests/unit/libs/mcp_server/test_mermaid_validator.py
  src/processor/src/tests/unit/libs/mcp_server/test_plugin_context.py
  src/processor/src/tests/unit/steps/analysis/test_analysis_executor.py
  src/processor/src/tests/unit/steps/analysis/test_analysis_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/convert/test_yaml_convert_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/design/test_design_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/documentation/test_documentation_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/test_step_models.py
  src/processor/src/utils/agent_telemetry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

style: apply code-quality pass across processor sources
  src/processor/src/libs/__init__.py
  src/processor/src/libs/agent_framework/agent_builder.py
  src/processor/src/libs/agent_framework/agent_framework_helper.py
  src/processor/src/libs/agent_framework/agent_framework_settings.py
  src/processor/src/libs/agent_framework/agent_info.py
  src/processor/src/libs/agent_framework/agent_speaking_capture.py
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/cosmos_checkpoint_storage.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/agent_framework/mem0_async_memory.py
  src/processor/src/libs/agent_framework/middlewares.py
  src/processor/src/libs/application/application_configuration.py
  src/processor/src/libs/application/application_context.py
  src/processor/src/libs/application/service_config.py
  src/processor/src/libs/azure/app_configuration.py
  src/processor/src/libs/base/agent_base.py
  src/processor/src/libs/base/application_base.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/libs/reporting/__init__.py
  src/processor/src/libs/reporting/models/__init__.py
  src/processor/src/main.py
  src/processor/src/main_service.py
  src/processor/src/services/queue_service.py
  src/processor/src/steps/documentation/models/__init__.py
  src/processor/src/steps/documentation/orchestration/__init__.py
  src/processor/src/utils/console_util.py
  src/processor/src/utils/credential_util.py
  src/processor/src/utils/datetime_util.py
  src/processor/src/utils/prompt_util.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: progress modal phase tracking and UI improvements
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
  src/frontend/src/pages/processPage.tsx
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/steps/analysis/orchestration/prompt_coordinator.txt
  src/processor/src/steps/convert/orchestration/prompt_coordinator.txt
  src/processor/src/steps/design/orchestration/prompt_coordinator.txt
  src/processor/src/steps/documentation/orchestration/prompt_coordinator.txt
  src/processor/src/tests/unit/steps/analysis/test_analysis_executor.py
  src/processor/src/tests/unit/steps/convert/test_yaml_convert_executor.py
  src/processor/src/tests/unit/steps/design/test_design_executor.py
  src/processor/src/tests/unit/steps/documentation/test_documentation_executor.py
  src/processor/src/utils/agent_telemetry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

style: ignore E704 in flake8 for protocol/abstract stubs
  .flake8
Due: none

fix: show phase name in title and reverse recent activity order
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
  src/frontend/src/pages/processPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: UI enhancements and agent sign-off scope boundaries
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
  src/frontend/src/pages/batchView.tsx
  src/frontend/src/pages/processPage.tsx
  src/processor/src/steps/analysis/agents/prompt_aks.txt
  src/processor/src/steps/analysis/agents/prompt_architect.txt
  src/processor/src/steps/analysis/agents/prompt_eks.txt
  src/processor/src/steps/analysis/agents/prompt_gke.txt
  src/processor/src/steps/analysis/agents/prompt_onprem_k8s.txt
  src/processor/src/steps/analysis/agents/prompt_openshift.txt
  src/processor/src/steps/analysis/agents/prompt_rancher.txt
  src/processor/src/steps/analysis/agents/prompt_tanzu.txt
  src/processor/src/steps/design/agents/prompt_aks.txt
  src/processor/src/steps/design/agents/prompt_architect.txt
  src/processor/src/steps/design/agents/prompt_eks.txt
  src/processor/src/steps/design/agents/prompt_gke.txt
  src/processor/src/steps/design/agents/prompt_onprem_k8s.txt
  src/processor/src/steps/design/agents/prompt_openshift.txt
  src/processor/src/steps/design/agents/prompt_rancher.txt
  src/processor/src/steps/design/agents/prompt_tanzu.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: expose Coordinator full message for routing display
  src/backend-api/src/app/libs/repositories/process_status_repository.py
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: dynamic Coordinator badge and truncated instruction
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: handle hyphenated phase names like Re-Check in regex
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
  src/processor/src/libs/base/orchestrator_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: show agent response preview and fix response timing
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: propagate actual error messages instead of generic 'Workflow output is None'
  src/processor/src/steps/analysis/workflow/analysis_executor.py
  src/processor/src/steps/convert/workflow/yaml_convert_executor.py
  src/processor/src/steps/design/workflow/design_executor.py
  src/processor/src/steps/documentation/workflow/documentation_executor.py
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: increase Coordinator max_tokens from 1500 to 4000 to prevent JSON truncation
  src/processor/src/libs/base/orchestrator_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra
