Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra

Format changes 3
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

AC-5: Apply Dependabot PR #167 - bump 10 GitHub Actions for ADO #41266
  .github/workflows/Create-Release..yml
  .github/workflows/azd-template-validation.yml
  .github/workflows/azure-dev.yml
  .github/workflows/broken-links-checker.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/job-cleanup-deployment.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
  .github/workflows/job-docker-build.yml
  .github/workflows/pr-title-checker.yml
  .github/workflows/pylint.yml
  .github/workflows/stale-bot.yml
  .github/workflows/test.yml
  .github/workflows/validate-bicep-params.yml
Due: none

AC-5: Apply Dependabot PR #168 - bump 13 pip pkgs in src/backend-api for ADO #41266
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

AC-5: Apply Dependabot PR #214 - bump 10/13 pip pkgs in src/processor for ADO #41266
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

AC-5: Apply Dependabot PR #169 (low-risk subset) - bump 14 npm pkgs in src/frontend for ADO #41266
  src/frontend/package-lock.json
  src/frontend/package.json
Due: .azuredevops/azure-pipeline-container-deploy.yml

PR #169: Apply major version bumps for npm frontend deps
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/postcss.config.js
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix blank page issue
  src/frontend/src/pages/processPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: fixed all copilot comments
  .github/workflows/deploy-orchestrator.yml
  .github/workflows/deploy-v2.yml
  .github/workflows/job-cleanup-deployment.yml
  .github/workflows/job-deploy.yml
  infra/main.bicep
  infra/main.json
  infra/main.parameters.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: allow insecure HTTP for internal container communication
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: standardize comments and remove telemetry parameter from deployment configuration
  infra/main.bicep
  infra/main.parameters.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

docs: add Bicep CLI prerequisite to local deployment guide
  docs/DeploymentGuide.md
Due: none

fix: update API versions and generator metadata in deployment template
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Refactor code structure for improved readability and maintainability
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/processor/package-lock.json
  src/processor/package.json
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

Potential fix for pull request finding
  src/processor/package.json
Due: .azuredevops/azure-pipeline-container-deploy.yml

Potential fix for pull request finding
  src/processor/package-lock.json
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: streamline resource group creation by consolidating tag handling
  .github/workflows/job-deploy.yml
Due: none

Fix proxy: add error handling and proper header passthrough
  src/frontend/frontend_server.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Notes added by 'git notes add'
  23525d9ca0a449b71c38a279165acc44f8ba7435
Due: none

feat(backend-api): add OpenTelemetry span filters and event_utils helper
  src/backend-api/pyproject.toml
  src/backend-api/src/app/libs/logging/__init__.py
  src/backend-api/src/app/libs/logging/event_utils.py
  src/backend-api/src/app/libs/logging/span_filters.py
  src/backend-api/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

feat(backend-api): wire Azure Monitor + FastAPIInstrumentor in Application.initialize
  src/backend-api/src/app/.env.example
  src/backend-api/src/app/application.py
  src/backend-api/src/app/libs/base/application_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

feat(backend-api): emit structured success/error events on routers
  src/backend-api/src/app/routers/router_debug.py
  src/backend-api/src/app/routers/router_files.py
  src/backend-api/src/app/routers/router_process.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

test(backend-api): cover track_event_if_configured Application Insights gating
  src/backend-api/src/tests/logging/__init__.py
  src/backend-api/src/tests/logging/test_event_utils.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(infra): remove redundant diagnosticSettings on Application Insights AVM module
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

commit
  infra/main.bicep
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Update email format 7
  .github/workflows/validate-bicep-params.yml
  infra/main.parameters.json
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update email format 5
  infra/main.parameters.json
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update email format 8
  infra/main.parameters.json
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: resolve Vite 8/rolldown compatibility issues
  src/frontend/Dockerfile
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
  src/frontend/src/pages/batchView.tsx
  src/frontend/src/pages/modernizationPage.tsx
  src/frontend/src/pages/processPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

ci: simplify coverage comment to badge + total + test summary
  .github/workflows/test.yml
Due: none

ci: restore coverage report dropdown in PR comment
  .github/workflows/test.yml
Due: none

Add tags to prevent SFI W18 Policy violation
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

ci: strip per-file details from coverage XML for clean PR comment
  .github/workflows/test.yml
Due: none

ci: use text coverage summary for TOTAL-only report dropdown
  .github/workflows/test.yml
Due: none

fix: address PR review comments
  src/backend-api/src/tests/services/test_input_validation.py
  src/backend-api/uv.lock
  src/processor/pyproject.toml
  src/processor/src/tests/unit/libs/agent_framework/test_agent_framework_settings.py
  src/processor/src/tests/unit/test_main_service.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

ci: match reference repo coverage comment format
  .github/workflows/test.yml
Due: none

commit
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

commit
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

pushing test.yml
  .github/workflows/test.yml
Due: none

test: lift coverage above 82% gate for processor and backend-api
  .github/workflows/test.yml
  src/backend-api/pyproject.toml
  src/backend-api/src/tests/base/test_sk_logic_base.py
  src/backend-api/src/tests/repositories/test_repositories_extra.py
  src/backend-api/src/tests/sas/storage/blob/test_async_helper_extra.py
  src/backend-api/src/tests/sas/storage/blob/test_config.py
  src/backend-api/src/tests/sas/storage/blob/test_helper_extra.py
  src/backend-api/src/tests/sas/storage/test_shared_config.py
  src/backend-api/src/tests/services/test_interfaces.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/base/test_application_base_init.py
  src/processor/src/tests/unit/libs/mcp_server/test_mermaid_internals.py
  src/processor/src/tests/unit/services/test_queue_service_internals.py
  src/processor/src/tests/unit/test_main.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update tags to avoid SFI W18 fix violation
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml
