Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra

Add tag parameter
  infra/main.bicep
  infra/main.json
  infra/main.parameters.json
  infra/main.waf.parameters.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: fixed all copilot comments
  src/backend-api/src/app/libs/base/SKLogicBase.py
  src/frontend/src/pages/modernizationPage.tsx
  src/processor/src/services/queue_service.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Notes added by 'git notes add'
  70bdb8512a1b0096267db588e795932527bc524c
Due: none

commit
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/batchView.tsx
  src/frontend/src/pages/modernizationPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

commit
  src/frontend/src/pages/batchView.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

test: address Copilot review feedback (PR #211)
  .github/workflows/test.yml
  src/backend-api/src/tests/base/test_kernel_agent.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_speaking_capture.py
  src/processor/src/tests/unit/utils/test_credential_util.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

test: address Copilot review feedback on test hygiene
  src/backend-api/src/tests/base/test_sk_logic_base.py
  src/processor/src/tests/unit/steps/test_migration_processor_extras.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

test: fix flake8 E305 in test_sk_logic_base.py
  src/backend-api/src/tests/base/test_sk_logic_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(infra): remove enableAnalyticalStorage on Cosmos DB account creation
  infra/main.json
  infra/modules/cosmosDb.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: upgrade vulnerable dependencies (urllib3, python-multipart, authlib, mermaid, uuid)
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/requirements.txt
  src/processor/package-lock.json
  src/processor/package.json
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

chore(infra): rebuild main.json with bicep 0.43.8 (restore version)
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: add name/version/private to processor package.json to align with lockfile
  src/processor/package-lock.json
  src/processor/package.json
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: pin override-dependencies to exact versions in processor pyproject.toml
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

Updated Foundry Roles name
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

test: resolve PR #242 review comments
  src/backend-api/src/tests/sas/storage/blob/test_async_helper_extra.py
  src/backend-api/src/tests/sas/storage/blob/test_config.py
  src/backend-api/src/tests/sas/storage/blob/test_helper_extra.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_speaking_capture.py
  src/processor/src/tests/unit/libs/base/test_application_base_init.py
  src/processor/src/tests/unit/services/test_queue_service_internals.py
  src/processor/src/tests/unit/utils/test_agent_telemetry.py
  src/processor/src/tests/unit/utils/test_agent_telemetry_records.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

retry logic update
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/base/orchestrator_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(infra): require infrastructure encryption on storage accounts (ADO #43311)
  infra/main.bicep
  infra/main_custom.bicep
  infra/modules/storageAccount.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix(infra): enable peer traffic encryption on container apps environment (ADO #43311)
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix(infra): add system-assigned identity to cosmos, ACR, and jumpbox VM (ADO #43311)
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix(infra): add windows security audit DCR + OMS Security solution (ADO #43311)
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

chore(infra): regenerate main.json from main.bicep (ADO #43311)
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix(processor): retry 'model produced invalid content' and bump ResultGenerator max_tokens (Bug #43771)
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/base/orchestrator_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

chore(deps): apply remaining dependabot bumps superseding open PRs
  src/frontend/requirements.txt
  src/processor/package-lock.json
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(frontend): include peer deps in package-lock.json so npm ci works
  src/frontend/package-lock.json
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(frontend,workflow): address Copilot review comments on PR #218
  .github/workflows/Create-Release..yml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/batchView.tsx
  src/frontend/src/pages/modernizationPage.tsx
  src/frontend/src/pages/processPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix(backend-api): include error message in CancelProcess/CancelStatus timeout/connect events
  src/backend-api/src/app/routers/router_process.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

chore(tests): drop unused imports flagged on PR #242
  src/backend-api/src/tests/sas/storage/test_shared_config.py
  src/processor/src/tests/unit/libs/agent_framework/test_cosmos_checkpoint_storage.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/mcp_server/test_mermaid_internals.py
  src/processor/src/tests/unit/services/test_queue_service_internals.py
  src/processor/src/tests/unit/steps/test_migration_processor_extras.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

ci(test.yml): trigger on uv.lock changes (PR #242 feedback)
  .github/workflows/test.yml
Due: none

feat: Enhance email template, add RG owner tag, scalability input
  .github/workflows/deploy-orchestrator.yml
  .github/workflows/deploy-v2.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
  .github/workflows/job-send-notification.yml
Due: none

Notes added by 'git notes add'
  5a0efca37e386434dc41d663b8ba3b7f6017f255
Due: none

Refactor code structure for improved readability and maintainability
  infra/vscode_web/endpoint-requirements.txt
  infra/vscode_web/requirements.txt
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/processor/pyproject.toml
  src/processor/src/libs/agent_framework/agent_builder.py
  src/processor/src/libs/agent_framework/agent_framework_helper.py
  src/processor/src/libs/agent_framework/agent_info.py
  src/processor/src/libs/agent_framework/agent_speaking_capture.py
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/coordinator_selection_response.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/agent_framework/middlewares.py
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/libs/mcp_server/MCPBlobIOTool.py
  src/processor/src/libs/mcp_server/MCPDatetimeTool.py
  src/processor/src/libs/mcp_server/MCPMicrosoftDocs.py
  src/processor/src/steps/analysis/orchestration/analysis_orchestrator.py
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/steps/design/orchestration/design_orchestrator.py
  src/processor/src/steps/documentation/orchestration/documentation_orchestrator.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_builder.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_framework_helper.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_input_observer_middleware.py
  src/processor/src/tests/unit/libs/agent_framework/test_middlewares_extras.py
  src/processor/src/tests/unit/libs/agent_framework/test_shared_memory_context_provider.py
  src/processor/src/tests/unit/steps/test_migration_processor_run.py
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Notes added by 'git notes add'
  2870a21011dfb5c25aeca42396fd5319cf8c448a
Due: none

refactor: remove ImportError handling for agent_framework imports
  src/processor/src/libs/agent_framework/agent_builder.py
  src/processor/src/libs/agent_framework/agent_info.py
  src/processor/src/libs/agent_framework/agent_speaking_capture.py
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/agent_framework/middlewares.py
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/steps/analysis/orchestration/analysis_orchestrator.py
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/steps/design/orchestration/design_orchestrator.py
  src/processor/src/steps/documentation/orchestration/documentation_orchestrator.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: update Message stubs for consistency and clarity in tests
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_input_observer_middleware.py
  src/processor/src/tests/unit/libs/agent_framework/test_middlewares_extras.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: simplify client import handling in AgentFrameworkHelper
  src/processor/src/libs/agent_framework/agent_framework_helper.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: update exception handling in client creation tests to use ImportError
  src/processor/src/tests/unit/libs/agent_framework/test_agent_framework_helper.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: normalize executor_id handling in MigrationProcessor for improved telemetry and error reporting
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: streamline WorkflowEvent handling in GroupChatOrchestrator and OrchestratorBase
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/base/orchestrator_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: clean up imports and remove unused code across multiple components
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
  src/frontend/src/components/batchHistoryPanel.tsx
  src/frontend/src/components/bottomBar.tsx
  src/frontend/src/main.jsx
  src/frontend/src/pages/batchView.tsx
  src/frontend/src/pages/landingPage.tsx
  src/frontend/src/pages/modernizationPage.tsx
  src/frontend/src/pages/processPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml
