Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra

fix: surface failure reason and step in error message bar
  src/frontend/src/pages/processPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: smart context trimming - compress old tool results and save_blob args
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: progressive context trimming - more aggressive on each retry attempt
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: convert step agents should PASS with assumptions, not block for human decisions
  src/processor/src/steps/convert/agents/prompt_aks_expert.txt
  src/processor/src/steps/convert/agents/prompt_architect.txt
  src/processor/src/steps/convert/agents/prompt_azure_architect.txt
  src/processor/src/steps/convert/agents/prompt_qa_engineer.txt
  src/processor/src/steps/convert/orchestration/prompt_coordinator.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: add scope guidance to coordinator prompts to prevent false FAILs and RAI violations
  src/processor/src/steps/analysis/orchestration/prompt_coordinator.txt
  src/processor/src/steps/convert/orchestration/prompt_coordinator.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: design coordinator - fix gaps instead of hard_blocked, add scope guidance
  src/processor/src/steps/design/orchestration/prompt_coordinator.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: enforce mandatory sign-off verification notes (minimum 2 bullets)
  src/processor/src/steps/analysis/orchestration/prompt_coordinator.txt
  src/processor/src/steps/convert/orchestration/prompt_coordinator.txt
  src/processor/src/steps/design/orchestration/prompt_coordinator.txt
  src/processor/src/steps/documentation/orchestration/prompt_coordinator.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

feat: GitHub-style markdown rendering with GFM tables and Mermaid diagrams
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
  src/frontend/src/pages/batchView.tsx
  src/frontend/src/pages/processPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: error propagation, smart context trimming, YAML expert self-sign-off
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/steps/convert/agents/prompt_yaml_expert.txt
  src/processor/src/steps/convert/workflow/yaml_convert_executor.py
  src/processor/src/steps/documentation/workflow/documentation_executor.py
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: add JSON syntax highlighting support for .json files
  src/frontend/src/pages/batchView.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: add JSON highlighting, hide filename header for markdown files
  src/frontend/src/pages/batchView.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: move file count into Migration Overview card, remove separate banner
  src/frontend/src/pages/batchView.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

feat: enhance mermaid MCP tool with mermaid.js rendering validation
  src/processor/Dockerfile
  src/processor/src/libs/mcp_server/mermaid/mcp_mermaid.py
  src/processor/src/steps/design/agents/prompt_architect.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: mermaid validation handles DOMPurify gracefully, warn about parens in edge labels
  src/processor/package-lock.json
  src/processor/package.json
  src/processor/src/libs/mcp_server/mermaid/mcp_mermaid.py
  src/processor/src/steps/design/agents/prompt_architect.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: more aggressive progressive trimming floors for context overflow
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: increase context trim defaults for GPT-5.1 272K input window
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: prevent Coordinator premature finish with FAILs, strengthen Phase 5 re-scope routing
  src/frontend/src/pages/batchView.tsx
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/mcp_server/mermaid/mcp_mermaid.py
  src/processor/src/steps/analysis/orchestration/prompt_coordinator.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: apply NON-NEGOTIABLE no-finish-with-FAILs rule to all 4 step coordinators
  src/processor/src/steps/convert/orchestration/prompt_coordinator.txt
  src/processor/src/steps/design/orchestration/prompt_coordinator.txt
  src/processor/src/steps/documentation/orchestration/prompt_coordinator.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: design step Chief Architect sign-off PENDING→PASS
  src/processor/src/steps/design/agents/prompt_architect.txt
  src/processor/src/steps/design/orchestration/prompt_coordinator.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

feat: add Qdrant-backed shared memory for cross-agent context sharing
  .vscode/settings.json
  src/processor/src/libs/agent_framework/mem0_async_memory.py
  src/processor/src/libs/agent_framework/qdrant_memory_store.py
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/libs/base/orchestrator_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: move memory store lifecycle to workflow level + add 38 unit tests
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/libs/agent_framework/test_qdrant_memory_store.py
  src/processor/src/tests/unit/libs/agent_framework/test_shared_memory_context_provider.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

chore: add INFO-level memory tracking logs
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: use sync credentials for embedding client, add debug prints
  src/processor/src/libs/agent_framework/mem0_async_memory.py
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: resolve ruff E402 import ordering in migration_processor
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: rename ambiguous variable 'l' to 'line' in mcp_mermaid.py (E741)
  src/processor/src/libs/mcp_server/mermaid/mcp_mermaid.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update VM size to Standard_D2s_v5 and add parameter for VM size in deployment templates
  docs/CustomizingAzdParameters.md
  docs/TroubleShootingSteps.md
  infra/main.bicep
  infra/main.json
  infra/main.waf.parameters.json
  infra/main_custom.bicep
  infra/modules/virtualNetwork.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

feat: Phase 3 context window reduction + prompt cleanup
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/steps/analysis/orchestration/analysis_orchestrator.py
  src/processor/src/steps/analysis/orchestration/prompt_resultgenerator.txt
  src/processor/src/steps/convert/orchestration/prompt_resultgenerator.txt
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/steps/design/orchestration/design_orchestrator.py
  src/processor/src/steps/design/orchestration/prompt_resultgenerator.txt
  src/processor/src/steps/documentation/orchestration/documentation_orchestrator.py
  src/processor/src/steps/documentation/orchestration/prompt_resultgenerator.txt
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/libs/agent_framework/test_shared_memory_context_provider.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: add YAML Expert PENDING detection in convert coordinator STATE-AWARE ROUTING
  src/processor/src/steps/convert/orchestration/prompt_coordinator.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml

feat: Bicep embedding model deployment + remove hardcoded endpoints + UI fixes
  infra/main.bicep
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/mem0_async_memory.py
  src/processor/src/steps/analysis/workflow/analysis_executor.py
  src/processor/src/tests/unit/steps/analysis/test_analysis_executor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Update override dependencies for av and starlette to latest versions
  src/processor/pyproject.toml
Due: .azuredevops/azure-pipeline-container-deploy.yml

update ai model name
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

update uv.lock files
  src/backend-api/uv.lock
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

update toml file to pin dependencies
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

docs: Update Deployment Guide with azd 1.23.9 note
  docs/DeploymentGuide.md
Due: none

Update parameters for AI services and remove secondary location references
  docs/CustomizingAzdParameters.md
  infra/main.parameters.json
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

change sku from standard to globalstandard
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

increase capacity back to 500
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Add aiEmbeddingDeploymentType parameter for embedding model SKU configuration
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update descriptions
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Remove aiDeploymentLocation parameter from workflows and documentation
  .github/workflows/ci.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  docs/CustomizingAzdParameters.md
  infra/main.bicep
  infra/main.json
  infra/main.parameters.json
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml
