Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

.azuredevops/azure-pipeline-container-deploy.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildFrontend
      displayName: Build Frontend Image
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and Push Frontend Image
        inputs:
  ...

.azuredevops/azure-pipeline-infrastructure.yml:
  stages:
  - stage: Infrastructure
    displayName: Deploy Infrastructure
    jobs:
    - job: DeployInfrastructure
      displayName: Deploy Azure Infrastructure
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: AzureCLI@2
        displayName: Deploy Infrastructure with Bicep
        inputs:
  ...

Update notification message for quota check failure in CI workflow
  .github/workflows/ci.yml
Due: none

Refactor Azure login steps in CI workflow for improved clarity and security
  .github/workflows/docker-build-and-push.yml
Due: none

Enhance Azure login conditions and improve registry output handling in CI workflow
  .github/workflows/docker-build-and-push.yml
Due: none

Refactor Azure login conditions in CI workflows for improved clarity and consistency
  .github/workflows/ci.yml
  .github/workflows/docker-build-and-push.yml
Due: none

Update Docker image push conditions to exclude pull requests in CI workflow
  .github/workflows/docker-build-and-push.yml
Due: none

Update Docker image push conditions to handle registry presence and adjust base tag for pull requests
  .github/workflows/docker-build-and-push.yml
Due: none

Refactor logging import in Processes.py for improved clarity
  .github/workflows/ci.yml
  src/processor/src/libs/reporting/models/Processes.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Remove 'F' from ignore list in .flake8 configuration
  .flake8
Due: none

.flake8 configuration
  .flake8
Due: none

WAF changes
  infra/main.bicep
  infra/main.waf.parameters.json
  infra/modules/network.bicep
  infra/modules/network/bastionHost.bicep
  infra/modules/network/jumpbox.bicep
  infra/modules/network/main.bicep
  infra/modules/network/virtualNetwork.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

wnv change
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Fix formatting in .flake8 and clean up logging import in Processes.py
  .flake8
  src/processor/src/libs/reporting/models/Processes.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

some changes reverted
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

private end points added
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Rename quota_check.sh to checkquota.sh
  scripts/checkquota.sh
  scripts/quota_check.sh
Due: none

Fix syntax error in CI workflow script
  .github/workflows/ci.yml
Due: none

ai foundry changes
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update dependency versions in pyproject.toml and requirements.txt for consistency
  src/backend-api/pyproject.toml
  src/frontend/requirements.txt
  src/processor/pyproject.toml
Due: .azuredevops/azure-pipeline-container-deploy.yml

Add stale bot workflow to manage stale issues, PRs, and unmerged branches
  .github/workflows/stale-bot.yml
Due: none

Refactor code structure for improved readability and maintainability
  src/backend-api/uv.lock
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update branch list for Docker build and push workflow and add version-pinning tag
  .github/workflows/docker-build-and-push.yml
Due: none

Add support for 'psl-pinversions' branch in Docker image push conditions
  .github/workflows/docker-build-and-push.yml
Due: none

Update Docker image tag handling for 'psl-pinversions' branch and adjust push conditions
  .github/workflows/docker-build-and-push.yml
Due: none

app config issue fix
  infra/main.bicep
  infra/modules/network.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Remove 'psl-pinversions' branch from Docker image build and push conditions
  .github/workflows/docker-build-and-push.yml
Due: none

Remove unnecessary blank line in Docker build and push workflow
  .github/workflows/docker-build-and-push.yml
Due: none

cosmos changes
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

refactor(network.bicep): update subnet configurations and security rules for containers
  infra/modules/network.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Refactor network module: Remove legacy Bicep files and consolidate virtual network configuration
  infra/main.bicep
  infra/modules/network.bicep
  infra/modules/network/bastionHost.bicep
  infra/modules/network/jumpbox.bicep
  infra/modules/network/main.bicep
  infra/modules/network/virtualNetwork.bicep
  infra/modules/virtualNetwork.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

o3 model added
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

EXP changes
  infra/main.bicep
  infra/main.parameters.json
  infra/main.waf.parameters.json
  infra/modules/ai-services-deployments.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

unused code removed
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

names updated
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

code clean up
  infra/main.bicep
  infra/main.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

remove nullable from aiDeploymentLocation param
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

foundry module name created
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

add post deploy hook
  .github/workflows/azure-dev.yml
  azure.yaml
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

add blank spaces for well formatting
  azure.yaml
Due: none

tags chnaged
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

refactor: update private DNS zones and remove unused variables
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra
