Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra

Resilience improvements: retry logic, context trimming, blob listing fix, logging
  .dockerignore
  src/frontend/src/pages/batchView.tsx
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/qdrant_memory_store.py
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/libs/mcp_server/blob_io_operation/mcp_blob_io_operation.py
  src/processor/src/main.py
  src/processor/src/main_service.py
  src/processor/src/steps/analysis/workflow/analysis_executor.py
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/steps/convert/workflow/yaml_convert_executor.py
  src/processor/src/steps/documentation/agents/prompt_technical_writer.txt
  src/processor/src/steps/documentation/orchestration/documentation_orchestrator.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/steps/convert/test_yaml_convert_executor.py
  src/processor/src/utils/logging_utils.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: clear singleton instance cache before re-registering QdrantMemoryStore
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor Notification email template
  .github/workflows/deploy-orchestrator.yml
  .github/workflows/job-send-notification.yml
Due: none

refactor: Update notification email subjects for clarity on deployment status
  .github/workflows/job-send-notification.yml
Due: none

refactor: Update deployment failure notification email body for clarity
  .github/workflows/job-send-notification.yml
Due: none

Revert environment variable naming to original format
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  docs/CustomizingAzdParameters.md
  docs/re-use-foundry-project.md
  docs/re-use-log-analytics.md
  infra/main.parameters.json
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Fix Log Analytics workspace variable naming consistency
  .github/workflows/deploy-orchestrator.yml
  .github/workflows/deploy-v2.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
Due: none

refactor: Enhance notification email subjects with status icons
  .github/workflows/job-send-notification.yml
Due: none

refactor: replace ai foundry avm pattern with cognitive service account avm module
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
  infra/modules/ai-project.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Refactor code structure for improved readability and maintainability
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

commit
  .github/workflows/azd-template-validation.yml
  .github/workflows/azure-dev.yml
Due: none

commit
  .github/workflows/azure-dev.yml
Due: none

Added gawk to install packages in both Dockerfile
  src/backend-api/Dockerfile
  src/processor/Dockerfile
Due: .azuredevops/azure-pipeline-container-deploy.yml

commit pr conflicts
  .github/workflows/azure-dev.yml
Due: none

Rename Log Analytics Workspace ID to Resource ID and update validation checks
  .github/workflows/deploy-v2.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
Due: none

Updated azure.yaml file to exclude the 1.23.9 azd version
  azure.yaml
  azure_custom.yaml
Due: none

Update RBAC role name in Deployment Guide
  docs/DeploymentGuide.md
Due: none

commit changes
  .github/workflows/azd-template-validation.yml
  .github/workflows/azure-dev.yml
Due: none

commit ac
  .github/workflows/azure-dev.yml
Due: none

uv lock updated
  src/backend-api/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

Added gawk and curl in docker
  src/backend-api/Dockerfile
  src/processor/Dockerfile
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

commit template
  .github/workflows/azd-template-validation.yml
Due: none

commit
  .github/workflows/azd-template-validation.yml
Due: none

commit timestamp
  .github/workflows/azd-template-validation.yml
  .github/workflows/azure-dev.yml
Due: none

Add Bicep parameter validation workflow and script
  .github/workflows/validate-bicep-params.yml
  scripts/validate_bicep_params.py
Due: none

Refactor workflow triggers and notification conditions in validate-bicep-params.yml
  .github/workflows/validate-bicep-params.yml
Due: none

Fix formatting in report output for consistency
  scripts/validate_bicep_params.py
Due: none

Filter the paths to run the pipeline
  .github/workflows/Create-Release..yml
  .github/workflows/deploy-v2.yml
Due: none

fix: patch path traversal (CWE-22) and harden /config endpoint [MSRC 112301]
  src/frontend/frontend_server.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

infra: set ALLOWED_ORIGINS env var for frontend container app
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

build: rebuild main.json from updated main.bicep
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

chore: clean up code structure and remove unused code blocks
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update src/frontend/package.json
  src/frontend/package.json
Due: .azuredevops/azure-pipeline-container-deploy.yml

Notes added by 'git notes add'
  c4b370f67c83bd63f4c511350e95013695c25073
Due: none

fix: add bicep version requirement (>= 0.33.0) to azure.yaml
  azure.yaml
Due: none

fix: Remove Create-Release..yml path filter changes
  .github/workflows/Create-Release..yml
Due: none
