Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra

fix path to preocessor
  docs/LocalDevelopmentSetup.md
Due: none

Delete infra/main.json
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

readmeUpdated
  docs/DeploymentGuide.md
Due: none

docfile
  docs/DeploymentGuide.md
Due: none

different extention file error bug fix
  src/frontend/src/components/uploadButton.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

Network error
  src/frontend/src/components/uploadButton.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

docs: Refactored deployment guide to make it clear and ordered the steps properly
  README.md
  docs/DeploymentGuideV2.md
Due: none

remove retry logic
  src/frontend/src/components/uploadButton.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

docs: Updated based on feedback
  docs/DeploymentGuideV2.md
Due: none

add createdBy param in ci.yml
  .github/workflows/ci.yml
Due: none

add parameters as prefix
  .github/workflows/ci.yml
Due: none

add created by
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

docs: Revise Deployment Guide for clarity and structure
  docs/DeploymentGuide.md
Due: none

refactor: Removed the duplicate
  docs/DeploymentGuideV2.md
Due: none

docs: updated heading
  docs/DeploymentGuide.md
Due: none

docs: Add recovery help for failed Azure deployments
  docs/TroubleShootingSteps.md
Due: none

Updated the readme document
  docs/ConfigureAppAuthentication.md
  docs/DeploymentGuide.md
  docs/images/configure_app_registration_web_6.png
Due: none

fix success message bar
  src/frontend/src/components/uploadButton.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

Add guidance for disabling Log Analytics workspace replication before deletion
  docs/DeploymentGuide.md
  docs/LogAnalyticsReplicationDisable.md
Due: none

Updated the code owners
  .github/CODEOWNERS
Due: none

Implementation of Configurable Logging Control via Flag
  src/backend-api/src/app/libs/application/application_configuration.py
  src/backend-api/src/app/libs/base/application_base.py
  src/processor/.env.example
  src/processor/src/libs/application/application_configuration.py
  src/processor/src/libs/base/ApplicationBase.py
  src/processor/src/utils/logging_utils.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

updated bicep
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
  src/backend-api/src/app/routers/router_debug.py
  src/backend-api/src/tests/application/test_app_configuration.py
  src/backend-api/test_config.py
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Add Visual Studio Code Web support and related files for deployment
  docs/DeploymentGuide.md
  docs/images/vscodeweb_intialize.png
  infra/vscode_web/.env
  infra/vscode_web/.gitignore
  infra/vscode_web/LICENSE
  infra/vscode_web/README-noazd.md
  infra/vscode_web/README.md
  infra/vscode_web/codeSample.py
  infra/vscode_web/endpoint-requirements.txt
  infra/vscode_web/endpointCodeSample.py
  infra/vscode_web/index.json
  infra/vscode_web/install.sh
  infra/vscode_web/requirements.txt
Due: .azuredevops/azure-pipeline-infrastructure.yml

Updated codeowner to dev
  .github/CODEOWNERS
Due: none

Add VS Code Web deployment option in env comparison table of the Deployment Guide
  docs/DeploymentGuide.md
Due: none

fix: Updated the ReadMe based on feedback
  docs/DeploymentGuide.md
Due: none

Fix typo in GitHub repository URL
  docs/LocalDevelopmentSetup.md
Due: none

refactor: Moved steps to different positions
  docs/DeploymentGuide.md
Due: none

lint issue fix
  src/backend-api/src/app/libs/application/application_configuration.py
  src/backend-api/src/app/libs/base/application_base.py
  src/processor/src/libs/application/application_configuration.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

removed main.json
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

added quota check params script
  docs/QuotaCheck.md
  scripts/quota_check_params.sh
Due: none

updated quota check
  docs/QuotaCheck.md
Due: none

docs: Incorprated further feedbacks
  docs/DeploymentGuide.md
Due: none

Notes added by 'git notes add'
  deb0a2c326e6e286e805fd044173650b2876f533
Due: none

docs: Updated local develoment guide
  docs/LocalDevelopmentSetup.md
Due: none

Add UI set up and run instructions
  docs/LocalDevelopmentSetup.md
Due: none

add image for app config url
  docs/LocalDevelopmentSetup.md
  docs/images/local_development_setup_1.png
Due: none

update image path
  docs/LocalDevelopmentSetup.md
Due: none

update local dev path
  docs/LocalDevelopmentSetup.md
Due: none

add note regarding the .env files
  docs/LocalDevelopmentSetup.md
Due: none
