Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

.azuredevops/azure-pipeline-container-deploy.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildFrontend
      displayName: Build Frontend Image
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and Push Frontend Image
        inputs:
  ...

.azuredevops/azure-pipeline-infrastructure.yml:
  stages:
  - stage: Infrastructure
    displayName: Deploy Infrastructure
    jobs:
    - job: DeployInfrastructure
      displayName: Deploy Azure Infrastructure
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: AzureCLI@2
        displayName: Deploy Infrastructure with Bicep
        inputs:
  ...

Updated readme
  docs/CustomizingAzdParameters.md
Due: none

Remove unnecessary change detection steps from Docker build workflow
  .github/workflows/docker-build-and-push.yml
Due: none

Remove unnecessary blank line before Docker Buildx setup step
  .github/workflows/docker-build-and-push.yml
Due: none

Update ai model capacity to 500
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Add redeployment warning
  docs/DeploymentGuide.md
Due: none

updation of vs code web url
  docs/DeploymentGuide.md
Due: none

Notes added by 'git notes add'
  bc1a3338b373fde4773dd7639f639034ef839b0f
Due: none

added the testcases
  src/tests/backend-api/src/app/libs/application/test_application_configuration.py
  src/tests/backend-api/src/app/libs/application/test_application_context.py
  src/tests/backend-api/src/app/libs/azure/__init__.py
  src/tests/backend-api/src/app/libs/azure/test_app_configuration.py
  src/tests/backend-api/src/app/libs/repositories/test_process_status_repository.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update Deployment Guide with Azure authentication steps
  docs/DeploymentGuide.md
Due: none

Update README.md to enhance Azure deployment instructions
  README.md
Due: none

Add validation step for Inputs and Map Inputs to env
  .github/workflows/job-cleanup-deployment.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
  .github/workflows/job-send-notification.yml
Due: none

Add Permissions
  .github/workflows/ci.yml
  .github/workflows/deploy-linux.yml
  .github/workflows/deploy-orchestrator.yml
  .github/workflows/deploy-windows.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/job-cleanup-deployment.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
  .github/workflows/job-docker-build.yml
  .github/workflows/job-send-notification.yml
  .github/workflows/pylint.yml
Due: none

Remove export, Curl and Map to env and setup actions
  .github/workflows/azure-dev.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/job-cleanup-deployment.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy.yml
Due: none

update files
  README.md
  docs/ConfigureMCPServers.md
  docs/CustomizingAzdParameters.md
  docs/DeploymentGuide.md
  src/processor/src/libs/agent_framework/mem0_async_memory.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

ci: fixed Pipeline failures
  .github/workflows/deploy-linux.yml
  .github/workflows/deploy-orchestrator.yml
  .github/workflows/deploy-windows.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
  .github/workflows/job-send-notification.yml
Due: none

update documents
  README.md
  TRANSPARENCY_FAQ.md
  docs/AgenticArchitecture.md
  docs/ConfigureMCPServers.md
  docs/CustomizeExpertAgents.md
  docs/CustomizeMigrationPrompts.md
  docs/DeleteResourceGroup.md
  docs/DeploymentGuide.md
  docs/ExtendPlatformSupport.md
  docs/LocalDevelopmentSetup.md
  docs/MCPServerGuide.md
  docs/MultiAgentOrchestration.md
  docs/ProcessFrameworkGuide.md
  docs/SampleWorkflow.md
  docs/TechnicalArchitecture.md
  docs/TroubleShootingSteps.md
  docs/images/readme/agentic_architecture.mmd
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

update with v2 codes.
  docs/ConfigureMCPServers.md
  docs/LocalDevelopmentSetup.md
Due: none

refactor: update README and enhance devcontainer setup; add new libraries and improve orchestrator configurations
  README.md
  src/processor/.devcontainer/devcontainer.json
  src/processor/Dockerfile
  src/processor/src/libs/agent_framework/__init__.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/application/__init__.py
  src/processor/src/libs/azure/__init__.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/libs/mcp_server/blob_io_operation/mcp_blob_io_operation.py
  src/processor/src/libs/mcp_server/datetime/_debug_uv_httpx_env.py
  src/processor/src/libs/mcp_server/datetime/mcp_datetime.py
  src/processor/src/libs/mcp_server/mermaid/mcp_mermaid.py
  src/processor/src/libs/mcp_server/yaml_inventory/mcp_yaml_inventory.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: correct regex validation for AZURE_EXISTING_AI_PROJECT_RESOURCE_ID in deployment workflows
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
Due: none

fix: update regex validation for AZURE_EXISTING_AI_PROJECT_RESOURCE_ID in deployment workflows
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
Due: none

Update VS Code Web section in Deployment Guide
  docs/DeploymentGuide.md
Due: none

feat: enhance GroupChatOrchestrator with termination controls and progress tracking; add comprehensive tests for termination logic
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/steps/analysis/orchestration/prompt_coordinator.txt
  src/processor/src/steps/convert/orchestration/prompt_coordinator.txt
  src/processor/src/steps/design/orchestration/prompt_coordinator.txt
  src/processor/src/steps/documentation/orchestration/prompt_coordinator.txt
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_termination.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Refactor code for improved readability and consistency
  src/processor/src/libs/agent_framework/agent_info.py
  src/processor/src/libs/agent_framework/agent_speaking_capture.py
  src/processor/src/libs/agent_framework/cosmos_checkpoint_storage.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/application/service_config.py
  src/processor/src/libs/mcp_server/blob_io_operation/mcp_blob_io_operation.py
  src/processor/src/libs/mcp_server/mermaid/mcp_mermaid.py
  src/processor/src/libs/reporting/migration_report_generator.py
  src/processor/src/services/control_api.py
  src/processor/src/steps/analysis/models/step_param.py
  src/processor/src/steps/analysis/orchestration/analysis_orchestrator.py
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/steps/design/orchestration/design_orchestrator.py
  src/processor/src/steps/documentation/orchestration/documentation_orchestrator.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/libs/agent_framework/test_azure_openai_response_retry_utils.py
  src/processor/src/tests/unit/libs/application/test_application_context_di.py
  src/processor/src/tests/unit/libs/application/test_service_config.py
  src/processor/src/tests/unit/libs/azure/test_app_configuration_helper.py
  src/processor/src/tests/unit/steps/analysis/test_analysis_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/convert/test_yaml_convert_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/convert/test_yaml_convert_orchestrator_validation.py
  src/processor/src/tests/unit/steps/documentation/test_documentation_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/test_migration_processor_exceptions.py
  src/processor/src/utils/agent_telemetry.py
  src/processor/src/utils/logging_utils.py
  src/processor/src/utils/prompt_util.py
  src/processor/src/utils/security_policy_evidence.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

migration service unit tests
  src/processor/pyproject.toml
  src/processor/src/tests/test_migration_service.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

feat: enhance documentation and analysis steps with detailed docstrings and Pydantic models; improve orchestration logic
  src/processor/src/main_service.py
  src/processor/src/steps/analysis/models/step_output.py
  src/processor/src/steps/analysis/models/step_param.py
  src/processor/src/steps/analysis/orchestration/analysis_orchestrator.py
  src/processor/src/steps/analysis/workflow/analysis_executor.py
  src/processor/src/steps/convert/models/step_output.py
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/steps/convert/workflow/yaml_convert_executor.py
  src/processor/src/steps/design/models/step_output.py
  src/processor/src/steps/design/orchestration/design_orchestrator.py
  src/processor/src/steps/design/workflow/design_executor.py
  src/processor/src/steps/documentation/models/__init__.py
  src/processor/src/steps/documentation/models/step_output.py
  src/processor/src/steps/documentation/orchestration/__init__.py
  src/processor/src/steps/documentation/orchestration/documentation_orchestrator.py
  src/processor/src/steps/documentation/workflow/documentation_executor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

feat: enhance module docstrings across various utilities for improved clarity and maintainability
  src/processor/src/libs/agent_framework/agent_framework_helper.py
  src/processor/src/libs/mcp_server/blob_io_operation/credential_util.py
  src/processor/src/libs/mcp_server/yaml_inventory/credential_util.py
  src/processor/src/utils/console_util.py
  src/processor/src/utils/credential_util.py
  src/processor/src/utils/logging_utils.py
  src/processor/src/utils/prompt_util.py
  src/processor/src/utils/security_policy_evidence.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

feat: enhance orchestrator configuration with max tokens; refactor exception handling and telemetry updates; add tests for conversion report quality gates
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/libs/mcp_server/datetime/mcp_datetime.py
  src/processor/src/libs/reporting/migration_report_generator.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/libs/azure/test_app_configuration_helper.py
  src/processor/src/tests/unit/steps/convert/test_conversion_report_quality_gates.py
  src/processor/src/tests/unit/steps/convert/test_yaml_convert_executor.py
  src/processor/src/utils/agent_telemetry.py
  src/processor/src/utils/console_util.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

refactor: streamline error detail logging for Azure exceptions
  src/processor/src/utils/logging_utils.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Add test workflow with coverage for backend API and processor
  .github/workflows/test.yml
Due: none

added testcases
  src/tests/backend-api/src/app/libs/sas/storage/blob/__init__.py
  src/tests/backend-api/src/app/libs/sas/storage/blob/conftest.py
  src/tests/backend-api/src/app/libs/sas/storage/blob/test_async_helper.py
  src/tests/backend-api/src/app/libs/sas/storage/blob/test_config.py
  src/tests/backend-api/src/app/libs/sas/storage/blob/test_helper.py
  src/tests/backend-api/src/app/libs/sas/storage/queue/test_async_helper.py
  src/tests/backend-api/src/app/libs/sas/storage/queue/test_helper.py
  src/tests/backend-api/src/app/libs/sas/storage/test_shared_config.py
  src/tests/backend-api/src/app/libs/services/__init__.py
  src/tests/backend-api/src/app/libs/services/test_auth.py
  src/tests/backend-api/src/app/libs/services/test_implementations.py
  src/tests/backend-api/src/app/routers/bussiness/__init__.py
  src/tests/backend-api/src/app/routers/bussiness/test_router_process.py
  src/tests/backend-api/src/app/routers/repositories/__init__.py
  src/tests/backend-api/src/app/routers/repositories/test_process_agent_activities.py
  src/tests/backend-api/src/app/routers/test_http_probes.py
  src/tests/backend-api/src/app/routers/test_router_debug.py
  src/tests/backend-api/src/app/routers/test_router_files.py
  src/tests/backend-api/src/app/routers/test_router_process.py
  src/tests/backend-api/src/app/samples/test_concrete_services.py
  src/tests/backend-api/src/app/samples/test_router_one.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

docs: Updated architecture diagram
  docs/images/readme/agentic_architecture.png
  docs/images/readme/architecture.png
Due: none

Refactor output folder structure and update timestamp handling across the processor steps
  docs/images/readme/architecture.png
  src/processor/pyrightconfig.json
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/libs/mcp_server/yaml_inventory/mcp_yaml_inventory.py
  src/processor/src/main.py
  src/processor/src/services/queue_service.py
  src/processor/src/steps/analysis/orchestration/analysis_orchestrator.py
  src/processor/src/steps/analysis/orchestration/prompt_coordinator.txt
  src/processor/src/steps/analysis/orchestration/prompt_task.txt
  src/processor/src/steps/convert/orchestration/prompt_coordinator.txt
  src/processor/src/steps/convert/orchestration/prompt_task.txt
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/steps/convert/workflow/yaml_convert_executor.py
  src/processor/src/steps/design/models/step_output.py
  src/processor/src/steps/design/orchestration/design_orchestrator.py
  src/processor/src/steps/design/orchestration/prompt_coordinator.txt
  src/processor/src/steps/design/orchestration/prompt_task.txt
  src/processor/src/steps/documentation/agents/prompt_aks_expert.txt
  src/processor/src/steps/documentation/agents/prompt_architect.txt
  src/processor/src/steps/documentation/agents/prompt_azure_architect.txt
  src/processor/src/steps/documentation/agents/prompt_qa_engineer.txt
  src/processor/src/steps/documentation/agents/prompt_technical_writer.txt
  src/processor/src/steps/documentation/agents/prompt_yaml_expert.txt
  src/processor/src/steps/documentation/orchestration/documentation_orchestrator.py
  src/processor/src/steps/documentation/orchestration/prompt_coordinator.txt
  src/processor/src/steps/documentation/orchestration/prompt_task.txt
  src/processor/src/tests/unit/services/test_queue_message_parsing.py
  src/processor/src/tests/unit/services/test_queue_service_failure_cleanup.py
  src/processor/src/tests/unit/steps/analysis/test_analysis_executor.py
  src/processor/src/tests/unit/steps/analysis/test_analysis_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/convert/test_yaml_convert_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/design/test_design_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/documentation/test_documentation_orchestrator_prompt.py
  src/processor/src/tests/unit/steps/test_step_models.py
  src/processor/src/utils/__init__.py
  src/processor/src/utils/agent_telemetry.py
  src/processor/src/utils/datetime_util.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

add api of cancel processing flow
  infra/main.bicep
  infra/main_custom.bicep
  src/backend-api/src/app/libs/application/application_configuration.py
  src/backend-api/src/app/routers/router_process.py
  src/frontend/src/pages/processPage.tsx
  src/frontend/src/services/ApiService.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

fix pylint
  src/processor/src/libs/agent_framework/agent_framework_helper.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/main.py
  src/processor/src/main_service.py
  src/processor/src/tests/unit/steps/convert/test_conversion_report_quality_gates.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Notes added by 'git notes add'
  b633c16493c0b8983e354f8228aba5bb1256995d
Due: none

Use container app name and add logs
  infra/main.bicep
  infra/main_custom.bicep
  src/backend-api/src/app/libs/application/application_configuration.py
  src/backend-api/src/app/routers/router_process.py
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
  src/frontend/src/pages/processPage.tsx
  src/processor/src/main_service.py
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

docs: Updated background image
  docs/images/readme/architecture.png
Due: none

docs: Added squre borders
  docs/images/readme/agentic_architecture.png
Due: none

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra
