Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra

Potential fix for pull request finding
  infra/modules/containerRegistry.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Potential fix for pull request finding
  azure.yaml
Due: none

fix: update resource ID references for private networking in container registry module
  infra/main.bicep
  infra/main.json
  infra/modules/containerRegistry.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

remove local deployment changes
  .github/workflows/ci.yml
  azure_custom.yaml
  docs/DeploymentGuide.md
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Add posix in azure.yaml file
  azure.yaml
Due: none

fix: update container registry module to reference VNet and DNS zone outputs directly
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Enhance preprovision and postdeploy hooks and instructions for building and pushing container images.
  azure.yaml
Due: none

corrected script file name
  azure.yaml
Due: none

resolved co-pilot comments
  azure.yaml
Due: none

Remove posix preprovision hook from azure.yaml
  azure.yaml
Due: none

removed trailing space
  azure.yaml
Due: none

chore: update package versions to resolve Dependabot alerts
  infra/vscode_web/endpoint-requirements.txt
  infra/vscode_web/requirements.txt
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

chore: update package versions to resolve Dependabot alerts
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

update package version
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

resolve dependency issue
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

resolve dependency issue 1
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

resolve dependency issue 3
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

resolve dependency issue 4
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

resolve dependency issue 5
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

resolve dependency issue 6
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

resolve copilot comment
  infra/vscode_web/endpoint-requirements.txt
  infra/vscode_web/requirements.txt
  src/frontend/package-lock.json
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/azd-template-validation.yml
  .github/workflows/azure-dev.yml
  .github/workflows/broken-links-checker.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/job-cleanup-deployment.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
  .github/workflows/job-docker-build.yml
  .github/workflows/pr-title-checker.yml
  .github/workflows/pylint.yml
  .github/workflows/stale-bot.yml
  .github/workflows/test.yml
  .github/workflows/validate-bicep-params.yml
Due: none

Add maintenance notice to README
  README.md
Due: none
