Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra

add more blanks
  azure.yaml
Due: none

remove azure dev chnages
  .github/workflows/azure-dev.yml
Due: none

unused code removed
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

readme update
  docs/CustomizingAzdParameters.md
  docs/DeploymentGuide.md
  infra/main.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

exp docs added
  docs/CustomizingAzdParameters.md
  docs/DeploymentGuide.md
  docs/images/re_use_foundry_project/azure_ai_foundry_list.png
  docs/images/re_use_foundry_project/navigate_to_projects.png
  docs/images/re_use_foundry_project/project_resource_id.png
  docs/images/re_use_log/logAnalytics.png
  docs/images/re_use_log/logAnalyticsJson.png
  docs/images/re_use_log/logAnalyticsList.png
  docs/re-use-foundry-project.md
  docs/re-use-log-analytics.md
Due: none

broken link issue fix
  docs/DeploymentGuide.md
Due: none

formatting azure.yaml
  azure.yaml
Due: none

pass aiDeploymentLocation in deploy step
  .github/workflows/ci.yml
Due: none

testing for pull request on dev will revert these changes
  .github/workflows/ci.yml
Due: none

review comments fix
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

revert pr changes
  .github/workflows/ci.yml
Due: none

add location as param
  .github/workflows/ci.yml
Due: none

PR trigger on dev
  .github/workflows/ci.yml
Due: none

chnage quota check model from 4o to o3
  scripts/checkquota.sh
Due: none

add azureAiServiceLocation
  .github/workflows/ci.yml
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix param duplication
  .github/workflows/ci.yml
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

revert ci pipeline trigger change
  .github/workflows/ci.yml
Due: none

provide allowed locations and test workflow
  .github/workflows/ci.yml
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix variables
  .github/workflows/ci.yml
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

revert changes for testing
  .github/workflows/ci.yml
Due: none

CustomTemplate
  azure_custom.yaml
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

frontend
  src/frontend/frontend_server.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Create SampleWorkflow.md
  docs/SampleWorkflow.md
Due: none

Add sample workflow documentation
  docs/SampleWorkflow.md
Due: none

Add files via upload
  docs/images/sampleworkflow1.png
Due: none

Add running application section to Deployment Guide
  docs/DeploymentGuide.md
Due: none

newFiles
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
  infra/modules/role.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

mainfiles
  infra/main.bicep
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update doc and add variable in bicep file
  docs/ConfigureAppAuthentication.md
  docs/images/configure_app_registration_web_10.png
  docs/images/configure_app_registration_web_6.png
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

newchange
  infra/main.bicep
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

newBicep
  infra/main.bicep
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Revise Sample Workflow for clarity and detail
  docs/SampleWorkflow.md
Due: none

portUpdated
  src/frontend/frontend_server.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update SampleWorkflow.md
  docs/SampleWorkflow.md
Due: none

Apply suggestion from @Copilot
  docs/SampleWorkflow.md
Due: none

add westus3 in replicaRegionPairs
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update SampleWorkflow.md with response time note
  docs/SampleWorkflow.md
Due: none
