Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra

Enhance token usage tracking and emission in Azure OpenAI clients and orchestrator
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/utils/token_usage_tracker.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

updated missing u
  src/processor/src/utils/token_usage_tracker.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

feat: enhance container app configuration with ACR pull identity and image parameters
  azure_custom.yaml
  infra/bicep/modules/identity/role-assignments.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

add STORAGE_QUEUE_ACCOUNT parameter to container app configuration
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix(ci): resolve processor_tests dependency conflict
  .github/workflows/test.yml
Due: none

fix(processor): wrap Message contents in Content.from_text
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

build(processor): pin agent-framework-orchestrations in pyproject
  .github/workflows/test.yml
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

Notes added by 'git notes add'
  a6a6dd0a114da7c92b04d73121391433314fb6ec
Due: none

Fix BOLA/IDOR: enforce process ownership on process and file APIs
  src/backend-api/src/app/libs/services/authorization.py
  src/backend-api/src/app/routers/router_files.py
  src/backend-api/src/app/routers/router_process.py
  src/backend-api/src/tests/routers/test_router_files.py
  src/backend-api/src/tests/routers/test_router_process.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

chore: remove Create-Release workflow file
  .github/workflows/Create-Release..yml
Due: none

Refactor code structure for improved readability and maintainability
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/requirements.txt
  src/processor/package-lock.json
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

chore: update CODEOWNERS handles
  .github/CODEOWNERS
Due: none

chore: reference App Configuration Data Reader role by ID
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

style: use '// Role Name' inline comment format for role IDs
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

ci: pin third-party GitHub Actions to verified release SHAs
  .github/workflows/broken-links-checker.yml
  .github/workflows/pr-title-checker.yml
  .github/workflows/test.yml
Due: none

feat: Implement dedicated Azure Container Registry with identity-based authentication and update deployment scripts
  README.md
  infra/main.bicep
  infra/modules/containerRegistry.bicep
  scripts/deploy_container_images.ps1
  scripts/deploy_container_images.sh
  src/backend-api/.dockerignore
  src/frontend/.dockerignore
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

fix: Update usage limit for OpenAI service in deployment configuration
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

feat: Add logging for container image build and push process in deployment scripts
  azure.yaml
Due: none

feat: implement dedicated Azure Container Registry with identity-based authentication and update deployment scripts
  README.md
  azure.yaml
  infra/main.bicep
  infra/modules/containerRegistry.bicep
  scripts/deploy_container_images.ps1
  scripts/deploy_container_images.sh
  src/backend-api/.dockerignore
  src/frontend/.dockerignore
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

fix: update deployment scripts to ensure Azure CLI is installed before execution
  azure.yaml
  scripts/deploy_container_images.ps1
  scripts/deploy_container_images.sh
Due: none

Potential fix for pull request finding
  scripts/deploy_container_images.ps1
Due: none

Potential fix for pull request finding
  scripts/deploy_container_images.sh
Due: none

fix: enhance error handling in deployment scripts to ensure all required values are loaded
  azure.yaml
  scripts/deploy_container_images.ps1
  scripts/deploy_container_images.sh
Due: none

fix: update deployment scripts and templates for WAF support and private networking configuration
  azure.yaml
  infra/main.bicep
  infra/main.json
  infra/modules/containerRegistry.bicep
  scripts/deploy_container_images.ps1
  scripts/deploy_container_images.sh
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: update deployment guide to include script for building and pushing application images
  docs/DeploymentGuide.md
Due: none

fix: address Copilot review comments on WAF ACR toggle (PR #318)
  infra/modules/containerRegistry.bicep
  scripts/deploy_container_images.ps1
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: update default image tag and placeholder container image for consistency
  infra/main.bicep
  infra/main.json
  scripts/deploy_container_images.ps1
  scripts/deploy_container_images.sh
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: ensure default image tag is applied after environment variable fallback
  scripts/deploy_container_images.sh
Due: none

Potential fix for pull request finding
  src/backend-api/src/app/routers/router_files.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: include subscription ID in environment variable checks for container deployment scripts
  scripts/deploy_container_images.ps1
  scripts/deploy_container_images.sh
Due: none

Update azure.yaml file to show github issue URL before provisioning
  azure.yaml
Due: none

update azure.yaml to add posix
  azure.yaml
Due: none

Potential fix for pull request finding
  azure.yaml
Due: none

Posix not required
  azure.yaml
Due: none

Update Owners ID for Vinay and Prajwal
  .github/CODEOWNERS
Due: none

fix: update placeholder image script references and add new build/push scripts for container images
  infra/main.bicep
  infra/main.json
  infra/modules/containerRegistry.bicep
  scripts/acr_build_push.ps1
  scripts/acr_build_push.sh
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: remove deprecated deploy_container_images scripts for cleaner deployment process
  scripts/deploy_container_images.ps1
  scripts/deploy_container_images.sh
Due: none

fix: update deployment scripts to use new acr_build_push scripts for consistency
  docs/DeploymentGuide.md
Due: none
