Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra

Update Bicep modules and resource versions for AI and networking services
  azure.yaml
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
  infra/modules/ai-project.bicep
  infra/modules/ai-services-deployments.bicep
  infra/modules/cosmosDb.bicep
  infra/modules/role.bicep
  infra/modules/storageAccount.bicep
  infra/modules/virtualNetwork.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: Uncomment metadata section in azure.yaml for clarity
  azure.yaml
Due: none

fix: Update dailyQuotaGb and availabilityZone settings for WAF compliance and flexibility
  infra/main.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: Rename automaticFailover to enableAutomaticFailover and update role assignments in Cosmos DB module; remove delete retention policy from Storage Account module
  infra/modules/cosmosDb.bicep
  infra/modules/storageAccount.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

pin dependencies
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix retry bug
  src/processor/pyproject.toml
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Notes added by 'git notes add'
  df7f71bd93164d64e69c8bd55f4d93c027193c88
Due: none

fix(ci): disable buildx provenance to fix ACR Standard push (400)
  .github/workflows/docker-build-and-push.yml
  .github/workflows/job-docker-build.yml
Due: none

Notes added by 'git notes add'
  f0e9975fab7aba4da63dc4ce6749f9947ce023fb
Due: none

Api fix endpoint
  docs/DeploymentGuide.md
  infra/main.bicep
  infra/main_custom.bicep
  src/frontend/frontend_server.py
  src/frontend/requirements.txt
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

install latest bicep via CLI
  .devcontainer/devcontainer.json
Due: none

Revert "install latest bicep via CLI"
  .devcontainer/devcontainer.json
Due: none

updated uv lock file
  src/backend-api/uv.lock
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

Refactor location parameter usage in main.bicep
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Remove duplicate AI service location parameters
  infra/main.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Remove duplicate azureAiServiceLocation parameter from waf
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update location parameter usage in main_custom.bicep
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

fix: fixed CodQL issues for Container Migration.
  scripts/validate_bicep_params.py
  src/backend-api/src/app/application.py
  src/backend-api/src/app/libs/base/SKLogicBase.py
  src/backend-api/src/app/libs/base/fastapi_protocol.py
  src/backend-api/src/tests/application/test_dependency_injection.py
  src/frontend/frontend_server.py
  src/frontend/src/api/utils.tsx
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
  src/frontend/src/components/batchHistoryPanel.tsx
  src/frontend/src/components/bottomBar.tsx
  src/frontend/src/components/uploadButton.tsx
  src/frontend/src/main.jsx
  src/frontend/src/msal-auth/apiHeaders.ts
  src/frontend/src/pages/batchView.tsx
  src/frontend/src/pages/landingPage.tsx
  src/frontend/src/pages/modernizationPage.tsx
  src/frontend/src/pages/processPage.tsx
  src/frontend/vite.config.js
  src/processor/src/libs/agent_framework/agent_framework_helper.py
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/qdrant_memory_store.py
  src/processor/src/libs/mcp_server/datetime/mcp_datetime.py
  src/processor/src/libs/mcp_server/mermaid/mcp_mermaid.py
  src/processor/src/libs/reporting/migration_report_generator.py
  src/processor/src/services/control_api.py
  src/processor/src/services/queue_service.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/conftest.py
  src/processor/src/utils/agent_telemetry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Add unit tests for backend-api
  src/backend-api/src/tests/application/test_application.py
  src/backend-api/src/tests/application/test_application_context_extra.py
  src/backend-api/src/tests/azure/test_app_configuration_helper.py
  src/backend-api/src/tests/base/test_kernel_agent.py
  src/backend-api/src/tests/base/test_typed_fastapi.py
  src/backend-api/src/tests/model/test_entities.py
  src/backend-api/src/tests/model/test_router_models.py
  src/backend-api/src/tests/repositories/__init__.py
  src/backend-api/src/tests/repositories/test_process_status_repository.py
  src/backend-api/src/tests/routers/__init__.py
  src/backend-api/src/tests/routers/test_http_probes.py
  src/backend-api/src/tests/routers/test_router_debug.py
  src/backend-api/src/tests/routers/test_router_files.py
  src/backend-api/src/tests/routers/test_router_process.py
  src/backend-api/src/tests/sas/__init__.py
  src/backend-api/src/tests/sas/storage/__init__.py
  src/backend-api/src/tests/sas/storage/blob/__init__.py
  src/backend-api/src/tests/sas/storage/blob/test_async_helper.py
  src/backend-api/src/tests/sas/storage/blob/test_helper.py
  src/backend-api/src/tests/sas/storage/queue/__init__.py
  src/backend-api/src/tests/sas/storage/queue/test_async_helper.py
  src/backend-api/src/tests/sas/storage/queue/test_helper.py
  src/backend-api/src/tests/services/__init__.py
  src/backend-api/src/tests/services/test_auth.py
  src/backend-api/src/tests/services/test_implementations.py
  src/backend-api/src/tests/services/test_input_validation.py
  src/backend-api/src/tests/services/test_process_services.py
  src/backend-api/src/tests/test_app_init.py
  src/backend-api/src/tests/test_main.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

add asyncio package
  .github/workflows/test.yml
  src/backend-api/pyproject.toml
Due: .azuredevops/azure-pipeline-container-deploy.yml

pushing main.json
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Add processor tests
  .github/workflows/test.yml
  src/processor/src/tests/unit/libs/agent_framework/test_agent_builder.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_framework_helper.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_framework_settings.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_speaking_capture.py
  src/processor/src/tests/unit/libs/agent_framework/test_azure_openai_response_retry_extras.py
  src/processor/src/tests/unit/libs/agent_framework/test_cosmos_checkpoint_storage.py
  src/processor/src/tests/unit/libs/agent_framework/test_mem0_async_memory.py
  src/processor/src/tests/unit/libs/agent_framework/test_middlewares_extras.py
  src/processor/src/tests/unit/libs/application/test_application_context_extras.py
  src/processor/src/tests/unit/libs/base/test_orchestrator_base.py
  src/processor/src/tests/unit/libs/reporting/test_migration_report_generator.py
  src/processor/src/tests/unit/services/test_queue_service_helpers.py
  src/processor/src/tests/unit/steps/test_migration_processor_extras.py
  src/processor/src/tests/unit/test_main_service.py
  src/processor/src/tests/unit/utils/test_agent_telemetry.py
  src/processor/src/tests/unit/utils/test_console_util.py
  src/processor/src/tests/unit/utils/test_credential_util.py
  src/processor/src/tests/unit/utils/test_logging_utils.py
  src/processor/src/tests/unit/utils/test_prompt_util.py
  src/processor/src/tests/unit/utils/test_security_policy_evidence.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

update failing tests
  src/processor/src/tests/unit/libs/agent_framework/test_azure_openai_response_retry_utils.py
  src/processor/src/tests/unit/steps/analysis/test_analysis_executor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

add more coverage to processor
  src/processor/src/tests/unit/steps/documentation/test_documentation_orchestrator_execute.py
  src/processor/src/tests/unit/steps/test_migration_processor_run.py
  src/processor/src/tests/unit/steps/test_step_orchestrator_agent_infos.py
  src/processor/src/tests/unit/utils/test_agent_telemetry_records.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix telemetry test
  src/processor/src/tests/unit/utils/test_agent_telemetry_records.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix copilot comments and pylint
  src/backend-api/src/tests/application/test_application_context_extra.py
  src/backend-api/src/tests/base/test_kernel_agent.py
  src/backend-api/src/tests/repositories/test_process_status_repository.py
  src/backend-api/src/tests/routers/test_router_process.py
  src/backend-api/src/tests/sas/storage/blob/test_helper.py
  src/backend-api/src/tests/test_main.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_builder.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix processor unit tests to match current production contracts
  src/processor/src/tests/unit/libs/agent_framework/test_azure_openai_response_retry_utils.py
  src/processor/src/tests/unit/steps/analysis/test_analysis_executor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

add backend-api unit tests for blob/queue helpers, routers, services, application context
  src/backend-api/src/tests/application/test_application_context_extra.py
  src/backend-api/src/tests/azure/test_app_configuration_helper.py
  src/backend-api/src/tests/base/test_application_base_extra.py
  src/backend-api/src/tests/base/test_fastapi_protocol.py
  src/backend-api/src/tests/base/test_typed_fastapi.py
  src/backend-api/src/tests/routers/__init__.py
  src/backend-api/src/tests/routers/test_http_probes.py
  src/backend-api/src/tests/routers/test_router_debug.py
  src/backend-api/src/tests/routers/test_router_files.py
  src/backend-api/src/tests/routers/test_router_models_files.py
  src/backend-api/src/tests/routers/test_router_process.py
  src/backend-api/src/tests/sas/__init__.py
  src/backend-api/src/tests/sas/storage/__init__.py
  src/backend-api/src/tests/sas/storage/blob/__init__.py
  src/backend-api/src/tests/sas/storage/blob/test_blob_async_helper.py
  src/backend-api/src/tests/sas/storage/blob/test_blob_config.py
  src/backend-api/src/tests/sas/storage/blob/test_blob_helper.py
  src/backend-api/src/tests/sas/storage/blob/test_blob_init.py
  src/backend-api/src/tests/sas/storage/queue/__init__.py
  src/backend-api/src/tests/sas/storage/queue/test_queue_async_helper.py
  src/backend-api/src/tests/sas/storage/queue/test_queue_helper.py
  src/backend-api/src/tests/sas/storage/queue/test_queue_init.py
  src/backend-api/src/tests/sas/storage/test_shared_config.py
  src/backend-api/src/tests/sas/storage/test_storage_init.py
  src/backend-api/src/tests/sas/test_sas_init.py
  src/backend-api/src/tests/services/__init__.py
  src/backend-api/src/tests/services/test_auth.py
  src/backend-api/src/tests/services/test_implementations.py
  src/backend-api/src/tests/services/test_input_validation.py
  src/backend-api/src/tests/services/test_interfaces.py
  src/backend-api/src/tests/services/test_process_services.py
  src/backend-api/src/tests/test_app_init.py
  src/backend-api/src/tests/test_application.py
  src/backend-api/src/tests/test_main.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Add comprehensive pytest unit tests for queue_service.py - 104 tests, 75% coverage
  src/processor/src/tests/unit/services/test_queue_service.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

add unit tests for backend-api repos+routers and processor libs/services/steps
  src/backend-api/src/tests/repositories/test_process_status_repository.py
  src/backend-api/src/tests/repositories/test_process_status_repository_async.py
  src/backend-api/src/tests/routers/test_router_files_extended.py
  src/backend-api/src/tests/routers/test_router_process_coverage_gaps.py
  src/backend-api/src/tests/routers/test_router_process_extended.py
  src/backend-api/src/tests/sas/storage/blob/test_blob_async_helper.py
  src/backend-api/src/tests/sas/storage/blob/test_blob_helper.py
  src/backend-api/src/tests/services/test_process_services_coverage_gaps.py
  src/backend-api/src/tests/services/test_process_services_extended.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_builder.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_framework_helper.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_framework_settings.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_speaking_capture.py
  src/processor/src/tests/unit/libs/agent_framework/test_azure_openai_response_retry_more.py
  src/processor/src/tests/unit/libs/agent_framework/test_cosmos_checkpoint_storage.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_helpers.py
  src/processor/src/tests/unit/libs/agent_framework/test_mem0_async_memory.py
  src/processor/src/tests/unit/libs/agent_framework/test_middlewares.py
  src/processor/src/tests/unit/libs/application/test_application_context_extras_v2.py
  src/processor/src/tests/unit/libs/base/test_application_base.py
  src/processor/src/tests/unit/libs/base/test_orchestrator_base.py
  src/processor/src/tests/unit/libs/mcp_server/mermaid/test_mcp_mermaid.py
  src/processor/src/tests/unit/libs/reporting/models/test_failure_context.py
  src/processor/src/tests/unit/libs/reporting/models/test_migration_report.py
  src/processor/src/tests/unit/libs/reporting/test_migration_report_generator.py
  src/processor/src/tests/unit/services/test_process_control_extras.py
  src/processor/src/tests/unit/steps/test_migration_processor.py
  src/processor/src/tests/unit/steps/test_orchestrators_coverage.py
  src/processor/src/tests/unit/utils/test_console_util.py
  src/processor/src/tests/unit/utils/test_credential_util.py
  src/processor/src/tests/unit/utils/test_logging_utils.py
  src/processor/src/tests/unit/utils/test_prompt_util.py
  src/processor/src/tests/unit/utils/test_security_policy_evidence.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Add comprehensive pytest unit tests for agent_telemetry.py to improve coverage from 14% to 70%
  src/processor/src/tests/unit/utils/test_agent_telemetry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Split CI test workflow into per-service jobs; fix async + blob test failures
  .github/workflows/test.yml
  src/backend-api/src/tests/application/test_application_context_extra.py
  src/backend-api/src/tests/sas/storage/blob/test_blob_helper.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

add cosmos in pyproject
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

push new uv lock file
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

resloved copoilot comments
  src/frontend/src/commonComponents/ProgressModal/progressModal.tsx
  src/frontend/src/pages/modernizationPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

Format changes
  .github/workflows/validate-bicep-params.yml
  infra/main.parameters.json
  infra/main.waf.parameters.json
  scripts/validate_bicep_params.py
Due: .azuredevops/azure-pipeline-infrastructure.yml

Format changes 2
  infra/main.parameters.json
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml
