Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra

Remove secondaryLocation parameter from main.parameters.json and main.waf.parameters.json
  infra/main.parameters.json
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update compiled bicep output (main.json) after parameter name changes
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Fix AZURE_EXISTING_AIPROJECT_RESOURCE_ID variable name mismatch in workflow validation
  .github/workflows/deploy-v2.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
Due: none

Update README
  README.md
Due: none

Update Deployment Guide with security note
  docs/DeploymentGuide.md
Due: none

Add gawk to Dockerfile dependencies for uv installer checksum validation
  src/backend-api/Dockerfile
  src/processor/Dockerfile
Due: .azuredevops/azure-pipeline-container-deploy.yml

Resolve merge conflicts in main.json
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Remove duplicate gawk entries from Dockerfiles
  src/backend-api/Dockerfile
  src/processor/Dockerfile
Due: .azuredevops/azure-pipeline-container-deploy.yml

Notes added by 'git notes add'
  01762f28d91c946dfc2dd15a5bf609536be6840c
Due: none

chore: add minimum bicep version >= 0.33.0 to azure_custom.yaml\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com>
  azure_custom.yaml
Due: none

Standardize azd environment variable naming convention
  .github/workflows/azd-template-validation.yml
  .github/workflows/azure-dev.yml
  .github/workflows/job-cleanup-deployment.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  docs/CustomizingAzdParameters.md
  infra/main.parameters.json
  infra/main.waf.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Revert GitHub secret names to existing ones to avoid workflow failures
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
Due: none

Fix secret naming inconsistency in workflow files
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
Due: none

Fix 14 gaps in LocalDevelopmentSetup.md found during step-by-step validation
  docs/LocalDevelopmentSetup.md
Due: none

Address PR review: fix step reference, spelling, add working directory to verification table
  docs/LocalDevelopmentSetup.md
Due: none

Add test workflow with coverage PR comment
  .github/workflows/test.yml
Due: none

fix: Remove demo branch and fix pytest install
  .github/workflows/test.yml
Due: none

fix: bypass malformed pytest.ini and pass coverage flags explicitly
  .github/workflows/test.yml
Due: none

fix: add --rootdir=. to prevent pytest discovering /dev/ tests
  .github/workflows/test.yml
Due: none

fix: set PYTHONPATH=src for test module resolution
  .github/workflows/test.yml
Due: none

fix: correct PYTHONPATH to src/app where libs and routers live
  .github/workflows/test.yml
Due: none

fix: correct test imports for routers.models and add missing user_id
  src/backend-api/src/tests/model/test_model_process.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: convert FileInfo to dicts for response model compatibility
  src/backend-api/src/tests/model/test_model_process.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: resolve 10 pre-existing test failures
  src/backend-api/src/tests/application/test_app_configuration.py
  src/backend-api/src/tests/application/test_application_context.py
  src/backend-api/src/tests/application/test_dependency_injection.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: align config test assertions with actual defaults
  src/backend-api/src/tests/application/test_app_configuration.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Standardize parameter names to match azd environment variables
  .azuredevops/azure-pipeline-infrastructure.yml
  infra/main.bicep
  infra/main.json
  infra/main.parameters.json
  infra/main.waf.parameters.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Revert secret names to original dev branch names
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
Due: none

Add files via upload
  docs/images/configure_app_registration_web_2.png
  docs/images/configure_app_registration_web_3.png
  docs/images/configure_app_registration_web_4.png
Due: none

Update authentication configuration steps in documentation
  docs/ConfigureAppAuthentication.md
Due: none

Add files via upload
  docs/images/configure_app_registration_web_4.png
Due: none

Notes added by 'git notes add'
  5efecd5e0432aa57accd537d4891e2d070c86e47
Due: none

build: upgrade Dependabot-recommended packages across all services
  .github/workflows/Create-Release..yml
  .github/workflows/azd-template-validation.yml
  .github/workflows/azure-dev.yml
  .github/workflows/broken-links-checker.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/job-cleanup-deployment.yml
  .github/workflows/job-deploy-linux.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/job-deploy.yml
  .github/workflows/job-docker-build.yml
  .github/workflows/pr-title-checker.yml
  .github/workflows/pylint.yml
  .github/workflows/stale-bot.yml
  .github/workflows/validate-bicep-params.yml
  src/backend-api/pyproject.toml
  src/frontend/package.json
  src/frontend/requirements.txt
  src/processor/pyproject.toml
Due: .azuredevops/azure-pipeline-container-deploy.yml

chore: clean up code structure and remove unused code blocks
  src/backend-api/pyproject.toml
  src/backend-api/uv.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/processor/pyproject.toml
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml

fix: improve Advanced Deploy Local Changes section in DeploymentGuide.md
  docs/DeploymentGuide.md
Due: none

fix: fixed pylint issues
  azure.yaml
  src/processor/src/agents/azure_expert/agent_info.py
  src/processor/src/agents/eks_expert/agent_info.py
  src/processor/src/libs/steps/analysis_step.py
  src/processor/src/utils/agent_builder.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update src/frontend/package.json
  src/frontend/package.json
Due: .azuredevops/azure-pipeline-container-deploy.yml

Removed the bicep paramater
  azure.yaml
Due: none

fix: resolve build failures from dependency upgrades
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/postcss.config.js
  src/processor/pyproject.toml
Due: .azuredevops/azure-pipeline-container-deploy.yml

add v2 tag
  .github/workflows/docker-build-and-push.yml
  .github/workflows/job-deploy.yml
  infra/main.bicep
  src/backend-api/Dockerfile
  src/processor/Dockerfile
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml
