Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

.azuredevops/azure-pipeline-container-deploy.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildFrontend
      displayName: Build Frontend Image
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and Push Frontend Image
        inputs:
  ...

.azuredevops/azure-pipeline-infrastructure.yml:
  stages:
  - stage: Infrastructure
    displayName: Deploy Infrastructure
    jobs:
    - job: DeployInfrastructure
      displayName: Deploy Azure Infrastructure
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: AzureCLI@2
        displayName: Deploy Infrastructure with Bicep
        inputs:
  ...

fix: update test methods to use new workflow run interface and improve context handling
  src/processor/src/tests/unit/libs/agent_framework/test_agent_builder.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_shared_memory_context_provider.py
  src/processor/src/tests/unit/steps/test_migration_processor_run.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Revert "fix: enhance message handling and context management in orchestrators"
  src/processor/src/libs/agent_framework/agent_builder.py
  src/processor/src/libs/agent_framework/agent_info.py
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_builder.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_shared_memory_context_provider.py
  src/processor/src/tests/unit/steps/test_migration_processor_run.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Revert "fix: remove unused WorkflowEvent import and restore 'invalid content' retry check"
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/steps/migration_processor.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Revert "fix: Refactor code structure for improved readability and maintainability"
  infra/vscode_web/endpoint-requirements.txt
  infra/vscode_web/requirements.txt
  src/processor/pyproject.toml
  src/processor/src/libs/agent_framework/agent_builder.py
  src/processor/src/libs/agent_framework/agent_framework_helper.py
  src/processor/src/libs/agent_framework/agent_info.py
  src/processor/src/libs/agent_framework/agent_speaking_capture.py
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/coordinator_selection_response.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/agent_framework/middlewares.py
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/libs/mcp_server/MCPBlobIOTool.py
  src/processor/src/libs/mcp_server/MCPDatetimeTool.py
  src/processor/src/libs/mcp_server/MCPMicrosoftDocs.py
  src/processor/src/steps/analysis/orchestration/analysis_orchestrator.py
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/steps/design/orchestration/design_orchestrator.py
  src/processor/src/steps/documentation/orchestration/documentation_orchestrator.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_builder.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_framework_helper.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_input_observer_middleware.py
  src/processor/src/tests/unit/libs/agent_framework/test_middlewares_extras.py
  src/processor/src/tests/unit/libs/agent_framework/test_shared_memory_context_provider.py
  src/processor/src/tests/unit/steps/test_migration_processor_run.py
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Notes added by 'git notes add'
  868bd5d28475a44926e6ef08ddd727edea3ac80e
Due: none

ci(broken-links): drop --exclude-mail flag (removed in lychee v0.23.0; mail excluded by default)
  .github/workflows/broken-links-checker.yml
Due: none

Infra restructure: mirror toolkit layout under infra/bicep, infra/avm, infra/scripts
  .github/workflows/ci.yml
  .github/workflows/job-deploy.yml
  .github/workflows/validate-bicep-params.yml
  docs/QuotaCheck.md
  infra/avm/README.md
  infra/avm/modules/.gitkeep
  infra/bicep/main.bicep
  infra/bicep/main.json
  infra/bicep/main.parameters.json
  infra/bicep/main.waf.parameters.json
  infra/bicep/main_custom.bicep
  infra/bicep/modules/ai/ai-project.bicep
  infra/bicep/modules/ai/ai-services-deployments.bicep
  infra/bicep/modules/identity/role.bicep
  infra/bicep/modules/networking/virtual-network.bicep
  infra/build_bicep.md
  infra/scripts/build/.gitkeep
  infra/scripts/post-provision/.gitkeep
  infra/scripts/pre-provision/checkquota.sh
  infra/scripts/pre-provision/quota_check_params.sh
  infra/scripts/utilities/validate_bicep_params.py
Due: .azuredevops/azure-pipeline-infrastructure.yml

infra: update toolkit modules (VM Entra ID auth, container-app-env WAF, role-assignment GUID fix)
  infra/avm/main.bicep
  infra/avm/main.json
  infra/avm/modules/compute/container-app-environment.bicep
  infra/avm/modules/compute/virtual-machine.bicep
  infra/avm/modules/identity/role-assignments.bicep
  infra/bicep/main.json
  infra/bicep/modules/compute/container-app-environment.bicep
  infra/bicep/modules/identity/role-assignments.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

infra: convert main.bicep to deployment router, remove old flat modules
  infra/bicep/main_custom.bicep
  infra/main.bicep
  infra/main.json
  infra/main.parameters.json
  infra/main.waf.parameters.json
  infra/main_custom.bicep
  infra/modules/ai-project.bicep
  infra/modules/ai-services-deployments.bicep
  infra/modules/cosmosDb.bicep
  infra/modules/role.bicep
  infra/modules/storageAccount.bicep
  infra/modules/virtualNetwork.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Upgrade agent-framework to 1.3.0 and azure-ai-projects to 2.1.0
  docs/LocalDevelopmentSetup.md
  docs/ProcessFrameworkGuide.md
  infra/vscode_web/codeSample.py
  infra/vscode_web/requirements.txt
  src/processor/pyproject.toml
  src/processor/src/libs/agent_framework/agent_builder.py
  src/processor/src/libs/agent_framework/agent_framework_helper.py
  src/processor/src/libs/agent_framework/agent_info.py
  src/processor/src/libs/agent_framework/agent_speaking_capture.py
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/libs/agent_framework/middlewares.py
  src/processor/src/libs/agent_framework/shared_memory_context_provider.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/libs/mcp_server/MCPBlobIOTool.py
  src/processor/src/libs/mcp_server/MCPDatetimeTool.py
  src/processor/src/libs/mcp_server/MCPMicrosoftDocs.py
  src/processor/src/steps/analysis/orchestration/analysis_orchestrator.py
  src/processor/src/steps/convert/orchestration/yaml_convert_orchestrator.py
  src/processor/src/steps/design/orchestration/design_orchestrator.py
  src/processor/src/steps/documentation/orchestration/documentation_orchestrator.py
  src/processor/src/steps/migration_processor.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_builder.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_framework_helper.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_input_observer_middleware.py
  src/processor/src/tests/unit/libs/agent_framework/test_middlewares_extras.py
  src/processor/src/tests/unit/libs/agent_framework/test_shared_memory_context_provider.py
  src/processor/src/tests/unit/steps/test_migration_processor_run.py
  src/processor/uv.lock
Due: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

Fix SharedMemoryContextProvider not iterable TypeError
  src/processor/src/libs/agent_framework/agent_builder.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_builder.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Remove trailing blank line in azure_openai_response_retry.py (W391)
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update AZURE_OPENAI_API_VERSION from 2025-03-01-preview to v1
  infra/avm/main.bicep
  infra/avm/main.json
  infra/bicep/main.bicep
  infra/bicep/main.json
  infra/bicep/main_custom.bicep
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Revert "Update AZURE_OPENAI_API_VERSION from 2025-03-01-preview to v1"
  infra/avm/main.bicep
  infra/avm/main.json
  infra/bicep/main.bicep
  infra/bicep/main.json
  infra/bicep/main_custom.bicep
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update AZURE_OPENAI_API_VERSION from 2025-03-01-preview to v1
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Revert "Update AZURE_OPENAI_API_VERSION from 2025-03-01-preview to v1"
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update AZURE_OPENAI_API_VERSION from 2025-03-01-preview to v1
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

infra: sync toolkit modules and align main.bicep with agentic PR pattern
  infra/avm/main.bicep
  infra/avm/main.json
  infra/avm/modules/ai/ai-foundry-connection.bicep
  infra/avm/modules/ai/ai-foundry-project.bicep
  infra/avm/modules/ai/existing-project-setup.bicep
  infra/avm/modules/data/cosmos-db-nosql.bicep
  infra/avm/modules/data/storage-account.bicep
  infra/avm/modules/identity/role-assignments.bicep
  infra/bicep/main.bicep
  infra/bicep/main.json
  infra/bicep/main_custom.bicep
  infra/bicep/modules/ai/ai-foundry-connection.bicep
  infra/bicep/modules/ai/ai-foundry-project.bicep
  infra/bicep/modules/ai/existing-project-setup.bicep
  infra/bicep/modules/data/cosmos-db-nosql.bicep
  infra/bicep/modules/data/storage-account.bicep
  infra/bicep/modules/identity/role-assignments.bicep
  infra/main.bicep
  infra/main.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Fix async for coroutine error in retry client streaming path
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fix streaming: delegate to parent ResponseStream instead of async generator
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Increase max_tokens for ManagerSelection agent from 4000 to 8000
  src/processor/src/libs/base/orchestrator_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Guard against empty messages after context trimming
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fix lychee CI: remove deprecated --exclude-mail flag
  .github/workflows/broken-links-checker.yml
Due: none

increase the tokens
  src/processor/src/libs/base/orchestrator_base.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Revert "Update AZURE_OPENAI_API_VERSION from 2025-03-01-preview to v1"
  infra/main.bicep
  infra/main.json
  infra/main_custom.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Switch default client to AzureOpenAIChatCompletionWithRetry (Chat Completions API)
  src/processor/src/libs/agent_framework/agent_framework_helper.py
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/libs/base/orchestrator_base.py
  src/processor/src/tests/unit/libs/agent_framework/test_agent_framework_helper.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fix AzureOpenAIChatClientWithRetry streaming: sync def + stream parameter
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Sanitize message author_name for OpenAI Chat Completions
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
  src/processor/src/tests/unit/libs/agent_framework/test_azure_openai_response_retry_utils.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Demote empty-messages warning to debug
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fix Coordinator anti-loop: accept framework's response schema
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Sanitize message name at OpenAI wire format (defense in depth)
  src/processor/src/libs/agent_framework/azure_openai_response_retry.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fix loop detection: don't count looped-on agent's runs as progress
  src/processor/src/libs/agent_framework/groupchat_orchestrator.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_internals.py
  src/processor/src/tests/unit/libs/agent_framework/test_groupchat_orchestrator_termination.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra
