Repository microsoft/Container-Migration-Solution-Accelerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/azure-pipeline-container-deploy.yml, .azuredevops/azure-pipeline-infrastructure.yml

.azuredevops/azure-pipeline-container-deploy.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildFrontend
      displayName: Build Frontend Image
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and Push Frontend Image
        inputs:
  ...

.azuredevops/azure-pipeline-infrastructure.yml:
  stages:
  - stage: Infrastructure
    displayName: Deploy Infrastructure
    jobs:
    - job: DeployInfrastructure
      displayName: Deploy Azure Infrastructure
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: AzureCLI@2
        displayName: Deploy Infrastructure with Bicep
        inputs:
  ...

AZD - initial validation workflow
  .github/workflows/azd-template-validation.yml
Due: none

AZD - removed pr and push triggers for workflow
  .github/workflows/azd-template-validation.yml
Due: none

AZD - tag for deploy
  infra/main.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Infra - app config - local auth and purge protect
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Infra - app config disableLocalAuth
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Infra - foundry ptn version update
  infra/main.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Infra - removed security control tag
  infra/main.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Docs - arch image updates
  docs/images/readme/agentic_architecture.png
  docs/images/readme/architecture.png
Due: none

Docs - agentic arch image non-transparent
  docs/images/readme/agentic_architecture.png
Due: none

Readme - bullet cleanup, data collection, and trademarks
  README.md
Due: none

Docs - moved test files to data folder in root
  data/eks/ebs-kc-classes.yaml
  data/eks/ebs-kc-restore.yaml
  data/eks/ebs-kc-snapshot.yaml
  data/eks/ebs-kc.yaml
  data/gke/axolotl-training-job.yaml
  data/gke/model-export.yaml
  data/gke/model-storage-pvc.yaml
  data/gke/tensorboard.yaml
Due: none

Docs - telemetry
  README.md
  infra/main.parameters.json
Due: .azuredevops/azure-pipeline-infrastructure.yml

Docs - samples data folder
  docs/DeploymentGuide.md
Due: none

Add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

Add PyLint workflow for code quality checks
  .github/workflows/pylint.yml
Due: none

Fix path separators in dependency installation step of PyLint workflow
  .github/workflows/pylint.yml
Due: none

Update Python version to 3.12 in PyLint workflow
  .github/workflows/pylint.yml
Due: none

Add .flake8 configuration for code style enforcement
  .flake8
Due: none

Add CI workflow for Container Migration with Azure deployment steps
  .github/workflows/ci.yml
Due: none

Rename quota check script and update CI workflow to use the new script
  .github/workflows/ci.yml
  scripts/checkquota.sh
Due: none

Remove unnecessary parameters from Bicep deployment command in CI workflow
  .github/workflows/ci.yml
Due: none

Rename workflow to 'validate Deployment' and add output variables for resource group name and deployment status
  .github/workflows/ci.yml
Due: none

Update workflow name and notification message for Container Migration deployment
  .github/workflows/ci.yml
Due: none

Append migration failure message with batchId
  src/frontend/src/pages/processPage.tsx
Due: .azuredevops/azure-pipeline-container-deploy.yml

Refactor code by adding new lines for improved readability across multiple files
  src/backend-api/src/app/libs/models/messages.py
  src/backend-api/src/app/libs/repositories/file_repository.py
  src/backend-api/src/app/libs/repositories/process_repository.py
  src/backend-api/src/app/libs/services/auth.py
  src/backend-api/src/app/libs/services/implementations.py
  src/backend-api/src/app/main.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Infra - SA deny annon blob access
  infra/modules/storageAccount.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Update .flake8 ignore list to include additional linting errors
  .flake8
Due: none

Refactor code for improved readability and consistency across multiple files
  src/backend-api/src/app/libs/application/application_configuration.py
  src/backend-api/src/app/libs/models/messages.py
  src/backend-api/src/app/libs/repositories/file_repository.py
  src/backend-api/src/app/libs/sas/storage/blob/async_helper.py
  src/backend-api/src/app/libs/sas/storage/blob/helper.py
  src/backend-api/src/app/libs/sas/storage/queue/async_helper.py
  src/backend-api/src/app/libs/services/auth.py
  src/backend-api/src/app/libs/services/implementations.py
  src/backend-api/src/app/libs/services/input_validation.py
  src/backend-api/src/app/libs/services/interfaces.py
  src/backend-api/src/app/routers/http_probes.py
  src/backend-api/src/app/routers/models/files.py
  src/backend-api/src/app/routers/router_files.py
  src/backend-api/src/app/samples/concrete_services.py
  src/backend-api/src/app/samples/router_one.py
  src/backend-api/src/app/samples/router_two.py
  src/backend-api/src/tests/model/test_model_process.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update .flake8 ignore list and improve code formatting for consistency
  .flake8
  src/backend-api/src/app/libs/base/fastapi_protocol.py
  src/backend-api/test_config.py
  src/processor/src/libs/steps/orchestration/models/documentation_result.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fix import statements and improve code formatting for consistency
  src/backend-api/src/tests/application/test_app_configuration.py
  src/backend-api/test_config.py
  src/processor/src/libs/reporting/models/Processes.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Update .flake8 ignore list and refactor import statements for consistency
  .flake8
  src/backend-api/src/tests/model/test_model_process.py
  src/processor/src/agents/__init__.py
  src/processor/src/libs/reporting/models/Processes.py
  src/processor/src/utils/agent_selection_parser.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Refactor code for improved formatting and consistency in Processes.py
  src/processor/src/libs/reporting/models/Processes.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fix formatting of import statement for consistency in test_model_process.py
  src/backend-api/src/tests/model/test_model_process.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fix formatting by adding a newline at the end of Processes.py
  src/processor/src/libs/reporting/models/Processes.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Infra - SA deny annon blob access (#29)
  infra/modules/storageAccount.bicep
Due: .azuredevops/azure-pipeline-infrastructure.yml

Refactor import statement in Processes.py for clarity
  src/backend-api/src/app/libs/sas/storage/blob/async_helper.py
  src/backend-api/src/app/libs/sas/storage/blob/helper.py
  src/processor/src/libs/reporting/models/Processes.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Fix formatting by adding newlines at the end of async_helper.py and helper.py
  src/backend-api/src/app/libs/sas/storage/blob/async_helper.py
  src/backend-api/src/app/libs/sas/storage/blob/helper.py
Due: .azuredevops/azure-pipeline-container-deploy.yml

Path conditions:
  .azuredevops/azure-pipeline-container-deploy.yml: any of: src, pyproject.toml, uv.lock
  .azuredevops/azure-pipeline-infrastructure.yml: any of: infra
